:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.percentage {
  color: var(--loading-percentage-text-color);
  font-family: var(--font-family-primary);
  font-size: var(--loading-percentage-text-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--loading-percentage-text-line-height);
  font-variant-numeric: tabular-nums;
  text-align: center;
  white-space: nowrap;
}
