@use '../abstracts/tokens' as *;

// ==========================================
// Cookie Banner SCSS
// ==========================================

.cookie-overlay {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 1050;
    transition: opacity .3s ease-out;

    &.fade-out {
        opacity: 0 !important;
        pointer-events: none;
    }
}

.cookie-banner {
    max-width: 792px;
    min-width: 280px;
    padding: var(--spacing-24) var(--spacing-40);
    position: fixed;  
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    border: 1.5px var(--border-style-solid) solid var(--gray-300);
    border-radius: var(--border-radius-16);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    width: 86%;
    z-index: 1060;
    transition: opacity .3s ease-out;  

    &.fade-out {
        opacity: 0 !important;
        pointer-events: none;
    }
}

// -----------------------------------------
// Header
// -----------------------------------------
.cookie-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    margin-bottom: var(--spacing-24);
}
.cookie-title {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: var(--text-heading-h4-xs-font-size);
    line-height: var(--text-heading-h4-xs-line-height); 
}

.cookie-description {
    font-size: var(--text-body-sm-font-size);
    line-height: var(--text-body-sm-line-height); 
}

.cookie-label {
    color: var(--black);
    font-size: var(--text-body-md-font-size);
    line-height: var(--text-body-md-line-height); 
    font-weight: 600;
}

// -----------------------------------------
// Buttons
// -----------------------------------------

.cookie-buttons { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie-allow-group {
    width: 414px;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    height: 48px;
}

.cookie-manage-btn,
.cookie-allow-btn,
.cookie-confirm-btn {
    height: 48px;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
}

.cookie-confirm-btn {
    width: 229px;
}

.cookie-allow-btn {
    width: 201px;
}

.cookie-manage-btn {
    border-width: 2px;
    color: #121212;
    border-color: #121212;
}

// -----------------------------------------
// Detail Section
// -----------------------------------------

.cookie-detail-container { 
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;

    &.show {
        max-height: 1000px;
    }
}

.cookie-permissions { 
    padding: var(--spacing-12) var(--spacing-20);
    gap: 12px;
    background: var(--gray-100);
    border-radius: var(--border-radius-12);
    display: flex;
    flex-direction: column;
}

.necessary-row { 
    display: flex;
    align-items: center;
    gap: var(--spacing-40);
    border-radius: var(--border-radius-12);
    margin-bottom: var(--spacing-12)  ;
}

.necessary-text-col {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.necessary-cookie-content {
    font-size: 16px;
    line-height: 24px;
}

.badge-required {
    font-size: 12px;
    padding: 0 8px;
    border: 1.5px solid #0d6efd;
    border-radius: 4px;
    background: #fff;
    color: #0d6efd;
    display: inline-flex;
    align-items: center;
}

.form-check-input {
    transform: scale(1.6);
}

.cookie-footer {
    //min-height: 90px;
    padding-right: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

// -----------------------------------------
// Caret button
// -----------------------------------------

.btn-caret {
    position: absolute;
    top: 32px;
    right: 24px;
    border: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%; 
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background: #f1f1f1;
    }
}

.rotate-180 {
    transform: rotate(180deg);
}

// -----------------------------------------
// Responsive
// -----------------------------------------

@media (max-width: 768px) {
    .cookie-banner {
        width: 85%;
        padding: 1.5rem;
        border-radius: 8px;
    }

    .cookie-title {
        font-size: 20px;
    }

    .cookie-description {
        font-size: 15px;
        line-height: 22px;
        width: 100%;
    }

    .cookie-permissions {
       // width: 100%;
        padding: 1rem;
    }

    .necessary-row {
        width: 100%;
    }

    .cookie-buttons {
        flex-direction: column-reverse;
        gap: 12px;
    }

    .cookie-allow-btn, .cookie-manage-btn {
        width: 100%;
    }
    
    .cookie-allow-group {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .btn-caret {
       // display: flex !important;
        top: 16px;
        right: 16px;
    }

    #cookie-detail {
        //max-height: 60vh;
        overflow-y: auto;
    }
}
