
[data-doc="cursors"] {
  $demo-cursors: default, copy, not-allowed, progress, text, pointer, grab, grabbing;

  @each $c in $demo-cursors {
    [data-demo-cursor='#{$c}'] [data-cursor-preview] {
      cursor: #{$c};
    }
  }

  article[role="listitem"] {
    min-width: 0;
    box-sizing: border-box;
  }

  @media (max-width: 599.98px) {
    .mud-grid-cols-4 {
      grid-template-columns: 1fr !important;
    }
  }
}
