@use '../abstracts/tokens' as *;

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropdown-toggle {
 /* background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;*/
}

.dropdown-toggle:hover {
  background-color: #0b5ed7;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  display: block;
  background-color: var(--bg-light);
  min-width: 180px;
  box-shadow: 0 8px 16px var(--shadow);
  border-radius: 6px;
  overflow: hidden;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
  z-index: 1000;
  pointer-events: none;
}

.dropdown.show .dropdown-menu {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}

.dropdown-menu a {
  display: block;
  padding: 10px 14px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 15px;
}

.dropdown-menu a:hover {
  background-color: #f2f2f2;
}

@media (max-width: 600px) {
  .dropdown {
    width: 100%;
  }

  .dropdown-toggle {
    width: 100%;
    font-size: 18px;
  }

  .dropdown-menu {
    min-width: 100%;
  }
}
