@use "../abstracts/tokens" as *;
@use "../abstracts/mixins" as *;

.footer {
  background: var(--gray-100);
  color: var(--color-neutral-900);

  @media screen and (max-width: 1279px) {
    .container {
        max-width: 100%;
    }
  }

  &__container { 
    /*padding: var(--spacing-40) var(--spacing-24) var(--spacing-32) var(--spacing-24);*/
    padding-block:  var(--spacing-40);
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: var(--spacing-40);
    padding-bottom: var(--spacing-24);

    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }

    &--compact {
        grid-template-columns: .85fr 2.5fr .5fr;
        align-items: center; 

       

        .footer__nav {
            grid-template-columns:1fr;
        }

        .footer__nav--list {
            flex-direction: row;
            gap: var(--spacing-64);
        }

        .footer__payments {
            justify-content: end;
        }

         @media screen and (max-width: 991px) {
          grid-template-columns: 1fr;

           .footer__payments {
                justify-content: start;
            }

             .footer__nav--list { 
                gap: var(--spacing-32);
            }
        }

        @media screen and (max-width: 576px) {
            grid-template-columns: 1fr;

            .footer__nav--list {
                flex-direction: column;
                gap: var(--spacing-16);
            }
        }   
    }
  }

  &__heading {
    font-size: var(--text-body-lg-500-font-size);
    font-weight: 500;
    line-height: var(--spacing-28);
    margin-bottom: var(--spacing-16);
  }

  &__description {
    font-size: var(--text-body-sm-font-size);
    font-weight: 500;
    line-height: var(--spacing-20);
  }

    &__logo {
        display: flex;
        gap: var(--spacing-12); 
    }

  &__brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-32);

    

    &--logo { 
        padding-top: var(--spacing-8);

        img {
            width: auto;
        }
    }

    &--details {
        flex-direction: column; 
        max-width: 115px;
        gap: var(--spacing-2);
    }

    .brand-text {
        font-weight: 600;
        font-size: var(--text-body-lg-500-font-size);
        color: var(--black);
    }

    .brand-description {
        color: var(--gray-700);
        font-size: var(--text-caption-sm-font-size);
        line-height: var(--spacing-16);
    }
  }



  a {
    color: var(--black);
    text-decoration: none;
    transition: all .35s ease;

    &:hover:not(.footer__logo) {
        color: var(--blue-sky-600);
        text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    margin: var(--spacing-0);
    padding: var(--spacing-0);
  }

  &__contact {
    list-style: none;
    padding: 0;

    li + li {
      margin-top: var(--spacing-8);
    }

    a {
      color: inherit;
      display: flex;
      align-items: center;
      gap: var(--spacing-6);
      font-size: var(--text-body-sm-font-size); 
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-24);

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
    }

    &--list {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-16);
    }

    &--item {

    }

    &--link {
        font-size: var(--text-body-md-font-size);
        line-height: var(--spacing-24);
    }
  }

  &__extras {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);

    .footer__heading {
        margin: var(--spacing-0);
    }
  }

  &__payments {
    display: flex;
    gap: var(--spacing-12);
    margin-bottom: var(--spacing-16);
  }

  &__apps {
    display: flex;
    gap: var(--spacing-12);

    a{
        display: flex;
        align-items: end;
    }

    img {
        display: block;
        height: auto;
        width: 100%;
    }
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-neutral-200);
    padding-top: var(--spacing-24); 

    @media screen and (max-width: 576px) {
      flex-direction: column;
      gap: var(--spacing-24);
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    gap: var(--spacing-32);
  }

  &__social {
    display: flex;
    gap: var(--spacing-16);
    list-style: none;
    padding: 0;
  }

  &__bottom {
    background: var(--black);
    color: var(--white);
    padding-block: var(--spacing-12);
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--text-body-sm-font-size);
    line-height: var(--spacing-20);

   /* @include media-breakpoint-down(md) {
      flex-direction: column;
      gap: var(--spacing-16);
      text-align: center;
    }*/
  }

  &__legal {
    display: flex;
    gap: var(--spacing-24);
    list-style: none;
    padding: 0;
    justify-content: end;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
        justify-content: start;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: var(--white) !important;
        text-decoration: none !important;
      }
    }
  }
}
