@use "../abstracts/tokens" as *;
@use "../abstracts/mixins" as *;

.footer {
  background: var(--gray-100);
  color: var(--color-neutral-900);

  &__container { 
    padding: var(--spacing-40) var(--spacing-24) var(--spacing-32) var(--spacing-24);
  }

  &__top {
    display: grid;
    grid-template-columns: 1.2fr 2fr 1fr;
    gap: var(--spacing-40);
    padding-bottom: var(--spacing-24);

    /*@include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }*/
  }

  &__heading {
    font-size: var(--text-body-lg-500-font-size);
    font-weight: 500;
    line-height: var(--spacing-28);
    margin-bottom: var(--spacing-16);
  }

  &__description {
    font-size: var(--text-body-sm-font-size);
    font-weight: 500;
    line-height: var(--spacing-20);
  }

    &__logo {
        display: flex;
        gap: var(--spacing-12); 
    }

  &__brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    

    &--logo { 
        padding-top: var(--spacing-8);

        img {
            width: auto;
        }
    }

    &--details {
        flex-direction: column; 
        max-width: 115px;
        gap: var(--spacing-2);
    }

    .brand-text {
        font-weight: 600;
        font-size: var(--text-body-lg-500-font-size);
        color: var(--black);
    }

    .brand-description {
        color: var(--gray-700);
        font-size: var(--text-caption-sm-font-size);
        line-height: var(--spacing-16);
    }
  }



  a {
    color: var(--black);
    text-decoration: none;
    transition: all .35s ease;

    &:hover:not(.footer__logo) {
        color: var(--blue-sky-600);
        text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    margin: var(--spacing-0);
    padding: var(--spacing-0);
  }

  &__contact {
    list-style: none;
    padding: 0;

    li + li {
      margin-top: var(--spacing-8);
    }

    a {
      color: inherit;
      display: flex;
      align-items: center;
      gap: var(--spacing-6);
      font-size: var(--text-body-sm-font-size); 
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-24);

   /* @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }*/ 

    &--list {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-16);
    }

    &--item {

    }

    &--link {
        font-size: var(--text-body-md-font-size);
        line-height: var(--spacing-24);
    }
  }

  &__payments {
    display: flex;
    gap: var(--spacing-12);
    margin-bottom: var(--spacing-16);
  }

  &__apps {
    display: flex;
    gap: var(--spacing-12);
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-neutral-200);
    padding-top: var(--spacing-24); 

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: var(--spacing-24);
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    gap: var(--spacing-32);
  }

  &__social {
    display: flex;
    gap: var(--spacing-16);
    list-style: none;
    padding: 0;
  }

  &__bottom {
    background: var(--black);
    color: var(--white);
    padding-block: var(--spacing-12);
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--text-body-sm-font-size);
    line-height: var(--spacing-20);

   /* @include media-breakpoint-down(md) {
      flex-direction: column;
      gap: var(--spacing-16);
      text-align: center;
    }*/
  }

  &__legal {
    display: flex;
    gap: var(--spacing-24);
    list-style: none;
    padding: 0;
    justify-content: end;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: var(--white) !important;
        text-decoration: none !important;
      }
    }
  }
}
