@use "../abstracts/tokens" as *;
@use "../abstracts/mixins" as *;

.footer {
  background: var(--gray-100);
  color: var(--color-neutral-900);

  &__container { 
    padding: var(--spacing-40) var(--spacing-24) var(--spacing-32) var(--spacing-24);
  }

  &__top {
    display: grid;
    grid-template-columns: 1.2fr 2fr 1fr;
    gap: var(--spacing-40);

    /*@include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }*/
  }

  &__heading {
    font-size: var(--font-size-14);
    font-weight: 600;
    margin-bottom: var(--spacing-16);
  }

  &__brand img {
    max-width: 140px;
    margin-bottom: var(--spacing-24);
  }

  &__contact {
    list-style: none;
    padding: 0;

    li + li {
      margin-top: var(--spacing-8);
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-32);

   /* @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }*/

    ul {
      list-style: none;
      padding: 0;
    }

    li + li {
      margin-top: var(--spacing-8);
    }
  }

  &__payments {
    display: flex;
    gap: var(--spacing-12);
    margin-bottom: var(--spacing-16);
  }

  &__apps {
    display: flex;
    gap: var(--spacing-12);
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-neutral-200);
    padding-top: var(--spacing-24);
    margin-top: var(--spacing-40);

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: var(--spacing-24);
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    gap: var(--spacing-32);
  }

  &__social {
    display: flex;
    gap: var(--spacing-16);
    list-style: none;
    padding: 0;
  }

  &__bottom {
    background: var(--color-neutral-900);
    color: var(--color-neutral-0);
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

   /* @include media-breakpoint-down(md) {
      flex-direction: column;
      gap: var(--spacing-16);
      text-align: center;
    }*/
  }

  &__legal {
    display: flex;
    gap: var(--spacing-24);
    list-style: none;
    padding: 0;

    a {
      color: inherit;
    }
  }
}
