.sidebar {
  border-radius: var(--border-radius-16);
  border: var(--border-width-1) solid var(--color-border-base-default);
  background: var(--white);
  display: flex;
  max-width: 368px;
  width: 100%;
  padding: var(--spacing-0);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-0);

  &__nav {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    padding-top: var(--spacing-32);
    padding-bottom: var(--spacing-32);
    width: 100%;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    padding-inline: var(--spacing-24);
  }

  &__title {
    color: var(--gray-400);  
    font-size: var(--text-body-sm-500-font-size); 
    font-weight: var(--font-weight-fw-medium, 500);
    line-height: var(--line-height-lh-20, 20px); /* 142.857% */
    margin: var(--spacing-0);
  }

  &__list { 
    display: flex;
    padding: var(--spacing-0);
    margin: var(--spacing-0);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-0);
    align-self: stretch;
  }

  &__item {
    list-style: none;
    width: 100%;
  }

  &__link { 
    border-left: var(--border-width-3) solid transparent; 
    color: var(--gray-700);
    font-size: var(--text-body-md-500-font-size);
    line-height: var(--line-height-lh-20, 20px); /* 142.857% */
    display: flex; 
    padding: var(--spacing-12) var(--spacing-16) var(--spacing-12) var(--spacing-24);
    align-items: center; 
    align-self: stretch;
    gap: var(--spacing-12); 
    text-decoration: none;
    transition: all .35s ease;

    &:hover {
      background: var(--gray-100);
    }

    &:focus-visible, &:focus {
      outline: 2px solid var(--blue-sky-600); 
      outline-style: auto;
    }

    &--active {
      background: var(--blue-sky-100);
      border-left-color: var(--blue-sky-600);
      color: var(--blue-sky-600);
      font-weight: 500;
    }
  }

  &__icon {
    width: var(--spacing-20);
    height: var(--spacing-20);
    display: grid;
    place-items: center;
  }

  &__divider {
    padding-inline: var(--spacing-24);
  }
}
.sidebar {
  &__item--has-children {
    display: flex;
    flex-direction: column;
  }

  &__link--toggle {
    width: 100%;
    background: none;
    border: 0;
    cursor: pointer;
    text-align: left;
  }

  &__chevron {
    margin-left: auto;
    transition: transform 0.2s ease;
  }

  &__link--toggle[aria-expanded="true"] {
    .sidebar__chevron {
      transform: rotate(180deg);
    }
  }

  &__submenu {
    //margin-left: var(--spacing-24);
    display: flex;
    flex-direction: column; 
    padding: var(--spacing-0);

    .sidebar__link {
      padding-left: var(--spacing-56);
    }
  }
}
 

/* generic util */
.hidden {
  display: none;
}
