@use '../abstracts/tokens' as tokens;

.spinner {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-top-color: transparent !important;
  animation: spinner-rotate 0.8s linear infinite;

  // =========== Sizes 
  &--extra-small {
    width: var(--spacing-12, 12px);
    height: var(--spacing-12, 12px);
    border-width: 2px;
  }

  &--small {
    width: var(--spacing-16, 16px);
    height: var(--spacing-16, 16px);
    border-width: 2px;
  }

  &--medium {
    width: calc(var(--spacing-24) + 2px);
    height: calc(var(--spacing-24) + 2px);
    border-width: 3px;
  }

  &--large {
    width: calc(var(--spacing-32) + 2px);
    height: calc(var(--spacing-32) + 2px);
    border-width: 3px;
  }

  // ============  Styles 
  &--brand {
    border-color: var(--blue-sky-600);
  }

  &--dark {
    border-color: var(--black, #121212);
  }

  &--light {
    border-color: var(--gray-100, #e0e0e0);
    background-color: var(--gray-900, #161616);
  }

  &--light-on-color {
    border-color: #fff;
    background-color: var(--brand-500, #0f62fe);
  }

  // ===============  Variants for backgrounds 
  &--light,
  &--light-on-color {
    border-top-color: transparent;
  }
}

// ===============  Animation 
@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
