/*
------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------
HTML CSS File
------------------------------------------------------------------------------------------------------------------------
*/

@custom-media --bp-xs (min-width: 0px);
@custom-media --bp-sm (min-width: 640px);
@custom-media --bp-md (min-width: 768px);
@custom-media --bp-lg (min-width: 1024px);
@custom-media --bp-xl (min-width: 1280px);
@custom-media --bp-2xl (min-width: 1440px);
@custom-media --bp-3xl (min-width: 1660px);
@custom-media --reduce-motion (prefers-reduced-motion: reduce);

@media --reduce-motion {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  box-sizing: border-box;
}
