// abstracts/mixins/_make-row.scss
@use "sass:math";

@mixin make-row($gutter: 16px) {
  display: flex;
  flex-wrap: wrap;
  margin-left: math.div(-$gutter, 2);
  margin-right: math.div(-$gutter, 2);
}
