@use 'sass:map';


@mixin media-breakpoint-up($name, $breakpoints) {
  $min: map.get($breakpoints, $name);
  @if $min != null {
    @media (min-width: $min) {
      @content;
    }
  }
}


@mixin media-breakpoint-down($name, $breakpoints) {
  $max: map.get($breakpoints, $name);
  @if $max != null {
    @media (max-width: ($max - 0.02)) {
      @content;
    }
  }
}


@mixin media-breakpoint-between($lower, $upper, $breakpoints) {
  $min: map.get($breakpoints, $lower);
  $max: map.get($breakpoints, $upper);
  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: ($max - 0.02)) {
      @content;
    }
  }
}
