@use 'sass:meta';

@mixin make-order($value) {
  @if $value == auto {
    order: auto;
  } @else {
    order: $value;
  }
}
 
@mixin make-order-responsive($breakpoint, $value, $breakpoints) {
  $bp-value: map.get($breakpoints, $breakpoint);
  @if meta.type-of($bp-value) == 'number' {
    @media (min-width: $bp-value) {
      @include make-order($value);
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` nu este definit în mapă.";
  }
}