# download
//gitlab.com/api/v4/packages/npm/:_authToken=${GITLAB_TOKEN_AGE}
# upload
//gitlab.com/api/v4/projects/44763899/packages/npm/:_authToken=${GITLAB_TOKEN_AGE}

@age:registry=https://gitlab.com/api/v4/packages/npm/

