@use 'sass:map';
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins/media' as media;

$align-items-values: (
  flex-start,
  center,
  flex-end,
  baseline,
  stretch
);


@each $value in $align-items-values {
  $cls: if($value == "flex-start", "start",
          if($value == "flex-end", "end", $value));

  .align-items-#{$cls} {
    align-items: $value !important;
  }
}


@each $breakpoint in map.keys(vars.$breakpoints) {
  @include media.media-breakpoint-up($breakpoint, vars.$breakpoints) {
    @each $value in $align-items-values {
      $cls: if($value == "flex-start", "start",
              if($value == "flex-end", "end", $value));

      .align-items-#{$breakpoint}-#{$cls} {
        align-items: $value !important;
      }
    }
  }
}
