
.btn {
  display: inline-flex;
  align-items:  center;
  justify-content: center; 
  font-size: var(--text-body-md-500-font-size);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.375;
  border-radius: var(--border-radius-8);
  padding: var(--spacing-12, 0.75rem) var(--spacing-20, 1.25rem);
  gap: var(--spacing-4, 0.25rem);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

  &:disabled {
    background-color: var(--gray-200);
    color: var(--gray-300);
    border-color: var(--gray-200);
    cursor: not-allowed;
    opacity: 0.6;
  }
}



.btn-filled {
  background-color: var(--blue-sky-600, #0058D2);
  color: var(--white, #ffffff);
  border: 1px solid transparent;
}

.btn-outlined {
  background-color: transparent;
  border: 1px solid var(--blue-sky-600, #0058D2);
  border: var(--blue-sky-600, #0058D2) var(--solid, solid) var(--border-width-2, 2px);
  color: var(--blue-sky-600, #0058D2);
}

.btn-text {
  background-color: transparent;
  border: none;
  color: var(--blue-sky-600, #0058D2);
}


.btn-icon {
  background-color: transparent;
  border: none;
  padding: var(--spacing-8, 0.5rem);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;

  &:hover:not(:disabled) {
    background-color: var(--gray-100, #F5F5F5);
  }

  &:active:not(:disabled) {
    background-color: var(--gray-200, #F1F1F1);
  }

  svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}


.btn-pill { border-radius: 9999px; }
.btn-rounded { border-radius: var(--border-radius-full, 9999px); }


.btn-group {
  display: inline-flex;
  gap: var(--spacing-12, 0.75rem);

  &--inline {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  } 

  .btn {
    margin: 0;
  }
}