@use 'sass:map';
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins/media' as media;

$flex-wrap-values: (nowrap, wrap, wrap-reverse);

@each $value in $flex-wrap-values {
  $cls: if($value == "wrap-reverse", "reverse", $value);

  .flex-#{$cls} {
    flex-wrap: $value !important;
  }
}

@each $breakpoint in map.keys(vars.$breakpoints) {
  @include media.media-breakpoint-up($breakpoint, vars.$breakpoints) {
    @each $value in $flex-wrap-values {

      $cls: if($value == "wrap-reverse", "reverse", $value);

      .flex-#{$breakpoint}-#{$cls} {
        flex-wrap: $value !important;
      }
    }
  }
}
