@use 'sass:map';
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins/media' as media;


$flex-direction-values: (
  row,
  row-reverse,
  column,
  column-reverse
);


@each $value in $flex-direction-values {

  $cls: if($value == "row-reverse", "row-reverse",
         if($value == "column-reverse", "column-reverse",
         if($value == "column", "column", "row")));

  .flex-#{$cls} {
    flex-direction: $value !important;
  }
}

@each $breakpoint in map.keys(vars.$breakpoints) {
  @include media.media-breakpoint-up($breakpoint, vars.$breakpoints) {

    @each $value in $flex-direction-values {

      $cls: if($value == "row-reverse", "row-reverse",
             if($value == "column-reverse", "column-reverse",
             if($value == "column", "column", "row")));

      .flex-#{$breakpoint}-#{$cls} {
        flex-direction: $value !important;
      }
    }
  }
}
