@use 'sass:map';
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins/media' as media;

$justify-content-values: (
  flex-start,
  center,
  flex-end,
  space-between,
  space-around,
  space-evenly
);

@each $value in $justify-content-values {
  $cls: if($value == "flex-start", "start",
        if($value == "flex-end", "end",
        if($value == "space-between", "between",
        if($value == "space-around", "around",
        if($value == "space-evenly", "evenly", $value)))));

  .justify-#{$cls} {
    justify-content: $value !important;
  }
}

@each $breakpoint in map.keys(vars.$breakpoints) {
  @include media.media-breakpoint-up($breakpoint, vars.$breakpoints) {
    @each $value in $justify-content-values {

      $cls: if($value == "flex-start", "start",
            if($value == "flex-end", "end",
            if($value == "space-between", "between",
            if($value == "space-around", "around",
            if($value == "space-evenly", "evenly", $value)))));

      .justify-#{$breakpoint}-#{$cls} {
        justify-content: $value !important;
      }
    }
  }
}
