@use '../abstracts/mixins/typography' as typ;

$typography-styles: (
  'display-lg',
  'display-md',
  'heading-h1-lg',
  'heading-h2-md',
  'heading-h3-sm',
  'heading-h4-xs',
  'heading-h5-2xs',
  'body-lg',
  'body-lg-500',
  'body-md',
  'body-md-500',
  'body-sm',
  'body-sm-500',
  'caption-md',
  'caption-md-500',
  'caption-sm'
);

@each $style in $typography-styles {
  .text-#{$style} {
    @include typ.apply-text-style($style);
  }
}
