@use '../abstracts/mixins/media' as media;
@use '../abstracts/mud-prefix' as mud;

$width-scale: (
  25: 25%,
  33: 33.3333%,
  50: 50%,
  66: 66.6667%,
  75: 75%,
  100: 100%
);

@each $key, $value in $width-scale {
  .#{mud.mud-class('w-#{$key}')} {
    width: $value;
  }
}

@each $breakpoint, $bp-value in (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) {
  @include media.media-breakpoint-up($breakpoint, (
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  )) {
    @each $key, $value in $width-scale {
      .#{mud.mud-class('w-#{$breakpoint}-#{$key}')} {
        width: $value;
      }
    }
  }
}

.#{mud.mud-class('w-auto')} {
  width: auto !important;
}

.#{mud.mud-class('w-full')} {
  width: 100% !important;
}

.#{mud.mud-class('w-screen')} {
  width: 100vw !important;
}

.#{mud.mud-class('min-w-0')} {
  min-width: 0 !important;
}

.#{mud.mud-class('min-w-full')} {
  min-width: 100% !important;
}

$max-w-scale: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

@each $key, $value in $max-w-scale {
  .#{mud.mud-class('max-w-#{$key}')} {
    max-width: $value !important;
  }
}
