@use '../abstracts/mixins/media' as media;

$width-scale: (
  25: 25%,
  33: 33.3333%,
  50: 50%,
  66: 66.6667%,
  75: 75%,
  100: 100%
);

@each $key, $value in $width-scale {
  .w-#{$key} {
    width: $value;
  }
}

@each $breakpoint, $bp-value in (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) {
  @include media.media-breakpoint-up($breakpoint, (
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  )) {
    @each $key, $value in $width-scale {
      .w-#{$breakpoint}-#{$key} {
        width: $value;
      }
    }
  }
}
