:host {
  display: block;
}

/* Container behavior */
:host(.cor-grid--container) {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));

  max-width: var(--screen-width-fixed-laptop);
  margin-left: auto;
  margin-right: auto;

  column-gap: var(--spacing-32);
  row-gap: var(--spacing-32);

  padding-left: var(--spacing-80);
  padding-right: var(--spacing-80);
}

/* Item behavior default */
:host(.cor-grid--item) {
  grid-column: span 12 / span 12;
}

/* Base span (all sizes) */
:host(.cor-grid--item.cor-grid--span-1) {
  grid-column: span 1 / span 1;
}
:host(.cor-grid--item.cor-grid--span-2) {
  grid-column: span 2 / span 2;
}
:host(.cor-grid--item.cor-grid--span-3) {
  grid-column: span 3 / span 3;
}
:host(.cor-grid--item.cor-grid--span-4) {
  grid-column: span 4 / span 4;
}
:host(.cor-grid--item.cor-grid--span-5) {
  grid-column: span 5 / span 5;
}
:host(.cor-grid--item.cor-grid--span-6) {
  grid-column: span 6 / span 6;
}
:host(.cor-grid--item.cor-grid--span-7) {
  grid-column: span 7 / span 7;
}
:host(.cor-grid--item.cor-grid--span-8) {
  grid-column: span 8 / span 8;
}
:host(.cor-grid--item.cor-grid--span-9) {
  grid-column: span 9 / span 9;
}
:host(.cor-grid--item.cor-grid--span-10) {
  grid-column: span 10 / span 10;
}
:host(.cor-grid--item.cor-grid--span-11) {
  grid-column: span 11 / span 11;
}
:host(.cor-grid--item.cor-grid--span-12) {
  grid-column: span 12 / span 12;
}

/* XS (Mobile): 320..480 */
@media (min-width: 320px) {
  /* and (max-width: 480px)*/
  :host(.cor-grid--container) {
    max-width: var(--screen-width-fixed-mobile);

    padding-left: var(--spacing-16);
    padding-right: var(--spacing-16);

    column-gap: var(--spacing-16);
    row-gap: var(--spacing-16);
  }

  :host(.cor-grid--item.cor-grid--xs-1) {
    grid-column: span 1 / span 1;
  }
  :host(.cor-grid--item.cor-grid--xs-2) {
    grid-column: span 2 / span 2;
  }
  :host(.cor-grid--item.cor-grid--xs-3) {
    grid-column: span 3 / span 3;
  }
  :host(.cor-grid--item.cor-grid--xs-4) {
    grid-column: span 4 / span 4;
  }
  :host(.cor-grid--item.cor-grid--xs-5) {
    grid-column: span 5 / span 5;
  }
  :host(.cor-grid--item.cor-grid--xs-6) {
    grid-column: span 6 / span 6;
  }
  :host(.cor-grid--item.cor-grid--xs-7) {
    grid-column: span 7 / span 7;
  }
  :host(.cor-grid--item.cor-grid--xs-8) {
    grid-column: span 8 / span 8;
  }
  :host(.cor-grid--item.cor-grid--xs-9) {
    grid-column: span 9 / span 9;
  }
  :host(.cor-grid--item.cor-grid--xs-10) {
    grid-column: span 10 / span 10;
  }
  :host(.cor-grid--item.cor-grid--xs-11) {
    grid-column: span 11 / span 11;
  }
  :host(.cor-grid--item.cor-grid--xs-12) {
    grid-column: span 12 / span 12;
  }
}

/* SM (Tablet): 480..1024 */
@media (min-width: 480px) {
  /* and (max-width: 1024px)*/
  :host(.cor-grid--container) {
    max-width: var(--screen-width-fixed-tablet);

    padding-left: var(--spacing-32);
    padding-right: var(--spacing-32);

    column-gap: var(--spacing-24);
    row-gap: var(--spacing-24);
  }

  :host(.cor-grid--item.cor-grid--sm-1) {
    grid-column: span 1 / span 1;
  }
  :host(.cor-grid--item.cor-grid--sm-2) {
    grid-column: span 2 / span 2;
  }
  :host(.cor-grid--item.cor-grid--sm-3) {
    grid-column: span 3 / span 3;
  }
  :host(.cor-grid--item.cor-grid--sm-4) {
    grid-column: span 4 / span 4;
  }
  :host(.cor-grid--item.cor-grid--sm-5) {
    grid-column: span 5 / span 5;
  }
  :host(.cor-grid--item.cor-grid--sm-6) {
    grid-column: span 6 / span 6;
  }
  :host(.cor-grid--item.cor-grid--sm-7) {
    grid-column: span 7 / span 7;
  }
  :host(.cor-grid--item.cor-grid--sm-8) {
    grid-column: span 8 / span 8;
  }
  :host(.cor-grid--item.cor-grid--sm-9) {
    grid-column: span 9 / span 9;
  }
  :host(.cor-grid--item.cor-grid--sm-10) {
    grid-column: span 10 / span 10;
  }
  :host(.cor-grid--item.cor-grid--sm-11) {
    grid-column: span 11 / span 11;
  }
  :host(.cor-grid--item.cor-grid--sm-12) {
    grid-column: span 12 / span 12;
  }
}

/* MD (Laptop): 1024..1440 */
@media (min-width: 1024px) {
  /* and (max-width: 1440px)*/
  :host(.cor-grid--container) {
    max-width: var(--screen-width-fixed-laptop);

    padding-left: var(--spacing-56);
    padding-right: var(--spacing-56);

    column-gap: var(--spacing-24);
    row-gap: var(--spacing-24);
  }

  :host(.cor-grid--item.cor-grid--md-1) {
    grid-column: span 1 / span 1;
  }
  :host(.cor-grid--item.cor-grid--md-2) {
    grid-column: span 2 / span 2;
  }
  :host(.cor-grid--item.cor-grid--md-3) {
    grid-column: span 3 / span 3;
  }
  :host(.cor-grid--item.cor-grid--md-4) {
    grid-column: span 4 / span 4;
  }
  :host(.cor-grid--item.cor-grid--md-5) {
    grid-column: span 5 / span 5;
  }
  :host(.cor-grid--item.cor-grid--md-6) {
    grid-column: span 6 / span 6;
  }
  :host(.cor-grid--item.cor-grid--md-7) {
    grid-column: span 7 / span 7;
  }
  :host(.cor-grid--item.cor-grid--md-8) {
    grid-column: span 8 / span 8;
  }
  :host(.cor-grid--item.cor-grid--md-9) {
    grid-column: span 9 / span 9;
  }
  :host(.cor-grid--item.cor-grid--md-10) {
    grid-column: span 10 / span 10;
  }
  :host(.cor-grid--item.cor-grid--md-11) {
    grid-column: span 11 / span 11;
  }
  :host(.cor-grid--item.cor-grid--md-12) {
    grid-column: span 12 / span 12;
  }
}

/* LG (Desktop): 1440..1920 */
@media (min-width: 1440px) {
  /* and (max-width: 1920px)*/
  :host(.cor-grid--container) {
    max-width: var(--screen-width-fixed-desktop);

    padding-left: var(--spacing-80);
    padding-right: var(--spacing-80);

    column-gap: var(--spacing-32);
    row-gap: var(--spacing-32);
  }

  :host(.cor-grid--item.cor-grid--lg-1) {
    grid-column: span 1 / span 1;
  }
  :host(.cor-grid--item.cor-grid--lg-2) {
    grid-column: span 2 / span 2;
  }
  :host(.cor-grid--item.cor-grid--lg-3) {
    grid-column: span 3 / span 3;
  }
  :host(.cor-grid--item.cor-grid--lg-4) {
    grid-column: span 4 / span 4;
  }
  :host(.cor-grid--item.cor-grid--lg-5) {
    grid-column: span 5 / span 5;
  }
  :host(.cor-grid--item.cor-grid--lg-6) {
    grid-column: span 6 / span 6;
  }
  :host(.cor-grid--item.cor-grid--lg-7) {
    grid-column: span 7 / span 7;
  }
  :host(.cor-grid--item.cor-grid--lg-8) {
    grid-column: span 8 / span 8;
  }
  :host(.cor-grid--item.cor-grid--lg-9) {
    grid-column: span 9 / span 9;
  }
  :host(.cor-grid--item.cor-grid--lg-10) {
    grid-column: span 10 / span 10;
  }
  :host(.cor-grid--item.cor-grid--lg-11) {
    grid-column: span 11 / span 11;
  }
  :host(.cor-grid--item.cor-grid--lg-12) {
    grid-column: span 12 / span 12;
  }
}

/* XL ( >1920 ) */
@media (min-width: 1921px) {
  :host(.cor-grid--item.cor-grid--xl-1) {
    grid-column: span 1 / span 1;
  }
  :host(.cor-grid--item.cor-grid--xl-2) {
    grid-column: span 2 / span 2;
  }
  :host(.cor-grid--item.cor-grid--xl-3) {
    grid-column: span 3 / span 3;
  }
  :host(.cor-grid--item.cor-grid--xl-4) {
    grid-column: span 4 / span 4;
  }
  :host(.cor-grid--item.cor-grid--xl-5) {
    grid-column: span 5 / span 5;
  }
  :host(.cor-grid--item.cor-grid--xl-6) {
    grid-column: span 6 / span 6;
  }
  :host(.cor-grid--item.cor-grid--xl-7) {
    grid-column: span 7 / span 7;
  }
  :host(.cor-grid--item.cor-grid--xl-8) {
    grid-column: span 8 / span 8;
  }
  :host(.cor-grid--item.cor-grid--xl-9) {
    grid-column: span 9 / span 9;
  }
  :host(.cor-grid--item.cor-grid--xl-10) {
    grid-column: span 10 / span 10;
  }
  :host(.cor-grid--item.cor-grid--xl-11) {
    grid-column: span 11 / span 11;
  }
  :host(.cor-grid--item.cor-grid--xl-12) {
    grid-column: span 12 / span 12;
  }
}
