<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accordion Preview</title>
  <link rel="stylesheet" href="css/main.css">
  <script src="js/accordion.js" defer></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
         <h1>Accordion</h1>
        <p class="text-gray-400">
          The Accordion component is used to organize and display large amounts of content in a condensed, expandable format. 
          It helps users navigate information more efficiently by revealing or hiding content sections on demand, reducing cognitive overload and keeping interfaces clean and focused.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Breakpoints</h2>  
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-12">
        <div class="text-body-lg-500 mb-20">desktop</div>
        <section class="accordion" data-accordion> 
          <div class="accordion__item">
            <h4 class="accordion__header">
              <button
                class="accordion__trigger"
                aria-expanded="false"
                aria-controls="accordion-panel-1"
                id="accordion-trigger-1"
              >
                <span class="accordion__heading">Accordion Heading</span>
                <span class="accordion__supporting">Supporting Text</span>

                <span class="accordion__icon" aria-hidden="true">
                  <svg class="icon medium" aria-hidden="true"> 
                    <use href="assets/icons/sprite.svg#icon-plus-large"></use> 
                  </svg>
                </span>
              </button>
            </h4>

            <div
              class="accordion__panel"
              id="accordion-panel-1"
              role="region"
              aria-labelledby="accordion-trigger-1"
              hidden
            >
              <p>
                Conținutul accordionului. Poate fi text, liste, componente etc.
              </p>
            </div>
          </div>

          <div class="accordion__item">
            <h4 class="accordion__header">
              <button
                class="accordion__trigger"
                aria-expanded="false"
                aria-controls="accordion-panel-2"
                id="accordion-trigger-2"
              >
                <span class="accordion__heading">Accordion Heading</span>
                <span class="accordion__supporting">Supporting Text</span>
                <span class="accordion__icon" aria-hidden="true">
                  <svg class="icon medium" aria-hidden="true"> 
                    <use href="assets/icons/sprite.svg#icon-plus-large"></use> 
                  </svg>
                </span>
              </button>
            </h4>

            <div
              class="accordion__panel"
              id="accordion-panel-2"
              role="region"
              aria-labelledby="accordion-trigger-2"
              hidden
            >
              <p>Alt conținut…</p>
            </div>
          </div>
          <div class="accordion__item">
            <h4 class="accordion__header">
              <button
                class="accordion__trigger"
                aria-expanded="false"
                aria-controls="accordion-panel-3"
                id="accordion-trigger-3"
              >
                <span class="accordion__heading">Accordion Heading</span>
                <span class="accordion__supporting">Supporting Text</span>

                <span class="accordion__icon" aria-hidden="true">
                  <svg class="icon medium" aria-hidden="true"> 
                    <use href="assets/icons/sprite.svg#icon-plus-large"></use> 
                  </svg>
                </span>
              </button>
            </h4>

            <div
              class="accordion__panel"
              id="accordion-panel-3"
              role="region"
              aria-labelledby="accordion-trigger-3"
              hidden
            >
              <p>
                Conținutul accordionului. Poate fi text, liste, componente etc.
              </p>
            </div>
          </div>
        </section>

      </div>
    </div>
 
 

 
 
  </div>  
 



</body>
</html>
