<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Badge Preview</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="container py-56 ">
    <div class="row">
      <div class="col-sm-7">
         <h1>Badges</h1>
        <p class="text-gray-400">
          Badges are used to convey additional information or status indicators within a user interface. They are commonly employed to highlight key attributes, provide notifications, or indicate the status of an item or process.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-7"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Styles</h2>  
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"> 
        <span class="badge badge--solid-dark badge--md">1</span>
      </div>
      <div class="col-1"> 
        <span class="badge badge--solid-light badge--md">1</span>
      </div>
      <div class="col-1"> 
        <span class="badge badge--solid-neutral badge--md">1</span>
      </div>
      <div class="col-1"> 
        <span class="badge badge--solid-accent badge--md">1</span>
      </div>
    </div>

    
    <div class="row">
      <div class="col-7"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Sizes</h2>  
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-1"> 
        <div class="mb-24">
          <span class="badge badge--solid-dark badge--lg">1</span>
        </div>
         <div class="mb-24">
          <span class="badge badge--solid-dark badge--md">1</span>
        </div>
         <div class="mb-24">
          <span class="badge badge--solid-dark badge--sm">1</span>
        </div>
      </div>
      <div class="col-1"> 
        <div class="mb-24">
          <span class="badge badge--solid-light badge--lg">1</span> 
        </div>
        <div class="mb-24">
          <span class="badge badge--solid-light badge--md">1</span> 
        </div>
        <div class="mb-24">
          <span class="badge badge--solid-light badge--sm">1</span> 
        </div>
      </div>
      <div class="col-1"> 
        <div class="mb-24">
          <span class="badge badge--solid-neutral badge--lg">1</span> 
        </div>
        <div class="mb-24">
          <span class="badge badge--solid-neutral badge--md">1</span> 
        </div>
        <div class="mb-24">
          <span class="badge badge--solid-neutral badge--sm">1</span> 
        </div>
      </div>
      <div class="col-1"> 
        <div class="mb-24">
          <span class="badge badge--solid-accent badge--lg">1</span> 
        </div>
        <div class="mb-24">
          <span class="badge badge--solid-accent badge--md">1</span> 
        </div>
        <div class="mb-24">
          <span class="badge badge--solid-accent badge--sm">1</span> 
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-3"> 
        <button type="button" class="chip" aria-pressed="true">
          <span class="chip__label">Label</span>
          <span class="chip__badge" aria-hidden="true">1</span>
        </button>
      </div>
       <div class="col-3"> 
        <button type="button" class="chip is-selected" aria-pressed="true">
          <span class="chip__label">Label</span>
          <span class="chip__badge" aria-hidden="true">1</span>
        </button>
      </div>
      <div class="col-3"> 
        <div class="tabs">
          <div class="tab-buttons">
            <button class="tab-button active" aria-selected="true" aria-controls="panel-1" id="tab-1">
              Tab 1  
              <span class="badge badge--solid-neutral badge--lg">1</span>
            </button>
            <button class="tab-button" aria-selected="false" aria-controls="panel-2" id="tab-2">Tab 2</button> 
          </div>

          <div class="tab-panels">
            <div class="tab-panel" id="panel-1" role="tabpanel" aria-labelledby="tab-1">Conținut Tab 1</div>
            <div class="tab-panel" id="panel-2" role="tabpanel" aria-labelledby="tab-2" hidden="">Conținut Tab 2</div> 
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-7"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Behavior</h2>  
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-2"> 
        <button type="button" class="chip is-selected" aria-pressed="true">
          <span class="chip__label">Label</span>
          <span class="badge badge--solid-neutral badge--sm" aria-hidden="true">1</span>
        </button>
      </div>
      <div class="col-2"> 
        <button type="button" class="chip is-selected" aria-pressed="true">
          <span class="chip__label">Label</span>
          <span class="badge badge--solid-neutral badge--sm" aria-hidden="true">12</span>
        </button>
      </div>
      <div class="col-2"> 
        <button type="button" class="chip is-selected" aria-pressed="true">
          <span class="chip__label">Label</span>
          <span class="badge badge--solid-neutral badge--sm" aria-hidden="true">256</span>
        </button>
      </div>
      <div class="col-2"> 
        <button type="button" class="chip is-selected" aria-pressed="true">
          <span class="chip__label">Label</span>
          <span class="badge badge--solid-neutral badge--sm" aria-hidden="true">1K+</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-7"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Notification Badge</h2>   
          <p class="text-gray-400">The notification badge serves to alert users to the presence and quantity of unread or pending notifications. It provides a visual cue, in the form of a numerical count.</p>
        </div> 
      </div>
    </div>

    <div class="row">
      <div class="col-7"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Sizes</h2>    
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <span class="badge badge--solid-notification badge--lg">1</span> 
      </div>
       <div class="col-2">
        <span class="badge badge--solid-notification badge--md">1</span> 
      </div>
       <div class="col-2">
        <span class="badge badge--solid-notification badge--sm">1</span> 
      </div>
       <div class="col-2">
        <span class="badge badge--solid-notification badge--xs">1</span> 
      </div>
    </div>

        <div class="row">
      <div class="col-7"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Types</h2>    
        </div> 
      </div>
    </div>

 
  </div>  
 



</body>
</html>
