<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spacing Preview Widths</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
         <h1>Radio Buttons Preview</h1>
        <p class="text-gray-400">
          The role of a radio button is to provide users with a selection mechanism for mutually exclusive options within a set. Radio buttons typically allow users to choose one option from a predefined list, conveying clarity and ease of interaction.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Sizes</h2> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="checkbox-group mb-32">
          <!-- 🔹 Unchecked -->
          <label class="checkbox checkbox--medium">
            <input type="checkbox" name="example1" class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Medium</span>
              <span class="checkbox-description">Unchecked</span>
            </span>
          </label> 
        </div>

        <div class="checkbox-group mb-32">
          <!-- 🔹 Checked -->
          <label class="checkbox checkbox--medium">
            <input type="checkbox" name="example2" checked class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Medium</span>
              <span class="checkbox-description">Checked</span>
            </span>
          </label>
        </div>

        <div class="checkbox-group mb-32">
          <!-- 🔹 Indeterminate -->
          <label class="checkbox checkbox--medium">
            <input type="checkbox" id="checkbox-indeterminate" class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Medium</span>
              <span class="checkbox-description">Indeterminate</span>
            </span>
          </label>
        </div>
        <div class="checkbox-group mb-32">
          <!-- 🔹 Disabled -->
          <label class="checkbox checkbox--medium">
            <input type="checkbox" disabled class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Medium</span>
              <span class="checkbox-description">Disabled</span>
            </span>
          </label>
        </div>
        <div class="checkbox-group mb-32">
          <!-- 🔹 Disabled -->
          <label class="checkbox checkbox--medium">
            <input type="checkbox" disabled class="checkbox-input" checked>
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Medium</span>
              <span class="checkbox-description">Disabled checked</span>
            </span>
          </label>
        </div>
        <div class="checkbox-group mb-32">
          <!-- 🔹 Error -->
          <label class="checkbox checkbox--error checkbox--medium">
            <input type="checkbox" class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Medium</span>
              <span class="checkbox-description">Error</span>
            </span>
          </label>
          </div>
          

      </div>

      <div class="col-6">
        <div class="checkbox-group mb-32">
          <!-- 🔹 Unchecked -->
          <label class="checkbox checkbox--small">
            <input type="checkbox" name="example1" class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Small</span>
              <span class="checkbox-description">Unchecked</span>
            </span>
          </label>
        </div>

        <div class="checkbox-group mb-32">
          <!-- 🔹 Checked -->
          <label class="checkbox checkbox--small">
            <input type="checkbox" name="example2" checked class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Small</span>
              <span class="checkbox-description">Checked</span>
            </span>
          </label> 
        </div>

        <div class="checkbox-group mb-32">
          <!-- 🔹 Indeterminate -->
          <label class="checkbox checkbox--small">
            <input type="checkbox" id="checkbox-indeterminate" class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Small</span>
              <span class="checkbox-description">Indeterminate</span>
            </span>
          </label>
        </div>
        <div class="checkbox-group mb-32">
          <!-- 🔹 Disabled -->
          <label class="checkbox checkbox--small">
            <input type="checkbox" disabled class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Small</span>
              <span class="checkbox-description">Disabled</span>
            </span>
          </label>
        </div>
        <div class="checkbox-group mb-32">
          <!-- 🔹 Disabled -->
          <label class="checkbox checkbox--small">
            <input type="checkbox" disabled class="checkbox-input" checked>
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Small</span>
              <span class="checkbox-description">Disabled checked</span>
            </span>
          </label>
        </div>
        <div class="checkbox-group mb-32">
          <!-- 🔹 Error -->
          <label class="checkbox checkbox--error checkbox--small">
            <input type="checkbox" class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label">Small</span>
              <span class="checkbox-description">Error</span>
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Label Group Sizes</h2> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="checkbox-group mb-32"> 
          <label class="checkbox checkbox--medium">
            <input type="checkbox" name="example1" class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label text-black">Transforming Services</span> 
            </span>
          </label> 
        </div>
        <div class="checkbox-group mb-32"> 
          <label class="checkbox checkbox--small">
            <input type="checkbox" name="example1" class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label text-black">Transforming Services</span> 
            </span>
          </label> 
        </div>
      </div>
      <div class="col-6">
        <div class="checkbox-group mb-32"> 
          <label class="checkbox checkbox--medium">
            <input type="checkbox" name="example1" class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label text-black">Transforming Services</span> 
              <span class="checkbox-description">Moldova’s digital evolution is at the heart of seamless public service delivery.</span>
            </span>
          </label> 
        </div>
        <div class="checkbox-group mb-32"> 
          <label class="checkbox checkbox--small">
            <input type="checkbox" name="example1" class="checkbox-input">
            <span class="checkbox-custom"></span>
            <span class="checkbox-texts">
              <span class="checkbox-label text-black">Transforming Services</span> 
              <span class="checkbox-description">Moldova’s digital evolution is at the heart of seamless public service delivery.</span>
            </span>
          </label> 
        </div>
      </div>
</div>
    <script> 
      const indeterminateCheckbox = document.getElementById('checkbox-indeterminate');
      indeterminateCheckbox.indeterminate = true;
    </script>
</body>
</html>
