<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cookie Banner</title>
  <script src="js/cookie-bar.js"></script> 
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/include-header.js" defer></script>
  <script src="js/include-footer.js" defer></script>
  <script src="js/toggler.js" defer></script>
  <script src="js/modal.js" defer></script>
  <script src="js/mega-nav.js" defer></script>
  <script src="js/search.js" defer></script>
  <script src="js/dropdown.js" defer></script>
</head>
<body>
  <div id="site-header"></div>

<div class="mud-container mud-py-56">
    <div class="mud-row">
        <div class="mud-col-sm-7">
            <h1>Cookie Banner</h1>
            <p class="mud-text-gray-400">
                Cookie Banner is designed to inform users about the use of cookies on the website and to obtain their consent.
                Within the design system, it follows consistent formatting rules, validation, and interaction patterns to ensure clarity and compliance.
            </p>
        </div>
    </div>   
    <div id="cookie-overlay" class="cookie-overlay mud-hidden"></div>
    <div id="cookie-banner" class="cookie-banner">
      <div id="cookie-info" class="cookie-header">
        <div class="cookie-title">Informații despre cookie-uri</div>
        <p class="cookie-description mud-mb-0">Acest site folosește cookie-uri esențiale pentru funcționarea și performanța de bază. În plus, utilizăm cookie-uri de targetare pentru a îmbunătăți experiența utilizatorului, a realiza analize și a afișa conținut personalizat.</p>
      </div>  
      <button id="btnToggleBanner" type="button" class="mud-btn-caret mud-hidden" aria-label="Toggle details">
        <span class="mud-inline-flex">
            <svg class="icon small" aria-hidden="true"> 
              <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use> 
            </svg>
          </span>
      </button>
      <button id="btnCollapse" type="button" class="mud-cookie-collapse-btn mud-p-8 mud-bg-gray-200 mud-radius-full mud-border-0 mud-hidden" aria-label="Close details">
          <span class="mud-inline-flex">
            <svg class="icon small" aria-hidden="true"> 
              <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use> 
            </svg>
          </span>
        </button>
      <div id="cookie-main-buttons" class="cookie-buttons">
        <button type="button" id="btnManage" class="mud-btn mud-btn-outline-strict cookie-manage-btn">Gestionează cookie-urile</button> 
        <div class="cookie-allow-group mud-flex mud-gap-12 mud-flex-wrap">
          <button type="button" id="btnNecessary" class="mud-btn mud-btn-outline-primary cookie-allow-btn">Doar cele necesare</button>
          <button type="button" id="btnAll" class="mud-btn mud-btn-primary cookie-allow-btn">Permite tot</button>
        </div> 
        
      </div>

      <div id="cookie-detail" class="collapse mud-w-100 cookie-detail-container">
        <div class="cookie-header mud-mb-6">
          <div class="cookie-title">Alege ce cookie-uri accepți</div> 
        </div>
        <div class="cookie-body"> 
          <div>
            <p class="cookie-description">
              Pe acest site folosim instrumente de măsurare a audienței pentru a înțelege comportamentul 
              utilizatorilor și a optimiza ergonomia și prezentarea conținutului relevant.
            </p>
          </div>
            <div class="cookie-permissions">
              <div class="necessary-row mud-flex mud-items-center">
                <div class="necessary-text-col mud-flex mud-flex-col mud-justify-center">
                  <div class="mud-flex mud-items-center mud-w-100">
                    <span class="cookie-label mud-flex mud-items-center mud-flex-wrap mud-gap-8 mud-justify-between mud-justify-md-start mud-w-100">Cookie-uri necesare 
                      <span class="status-tag status-tag--brand is-outlined">Obligatoriu</span> 
                    </span> 
                  </div>
                  <span class="necessary-cookie-content mud-mb-0">Aceste cookie-uri sunt esențiale pentru funcționarea de bază a site-ului, cum ar fi navigarea. Site-ul nu poate funcționa corect fără aceste cookie-uri și ele nu pot fi dezactivate.</span></div>
                  <div class="necessary-icon-col mud-md-flex mud-items-center mud-justify-center mud-hidden">
                    <span class="mud-p-12 mud-text-blue-sky-600 mud-radius-8 mud-inline-flex">
                      <svg class="icon large" aria-hidden="true"> 
                        <use href="assets/icons/sprite.svg#icon-checkmark-large"></use> 
                      </svg>
                    </span>
                  </div>
                </div> 
              <hr class="separator separator--horizontal separator--thin separator--subtle">
                <div class="necessary-row mud-flex mud-items-center">
                  <div class="necessary-text-col mud-flex mud-flex-col mud-justify-center">
                    <div class="mud-flex mud-items-center mud-justify-between">
                      <span class="cookie-label">Cookie-uri statistice</span>
                      <div class="necessary-icon-col form-check form-switch mud-m-0 mud-flex mud-md-hidden">
                      <div class="switch">
                        <label class="switch-wrapper mud-mb-0">
                          <input type="checkbox" class="switch-input" checked="" aria-label="Cookie-uri statistice">
                          <div class="switch-track">
                            <div class="switch-thumb"></div>
                          </div> 
                        </label>
                      </div>
                    </div>
                    </div>        
                    <p class="necessary-cookie-content mud-mb-0">Cookie-urile statistice colectează informații despre modul în care vizitatorii folosesc site-ul. Datele ne ajută să îmbunătățim performanța site-ului și să creăm conținut mai bun.</p></div>
                    <div class="necessary-icon-col form-check form-switch mud-m-0 mud-hidden mud-md-flex">
                      <div class="switch">
                        <label class="switch-wrapper mud-mb-0">
                          <input type="checkbox" class="switch-input" checked="" aria-label="Cookie-uri statistice">
                          <div class="switch-track">
                            <div class="switch-thumb"></div>
                          </div> 
                        </label>
                      </div>
                    </div>
                  </div>
                </div> 
        </div>
        <div class="cookie-footer">
          <button id="btnConfirm" class="mud-btn mud-btn-primary cookie-confirm-btn">Confirmă selecția</button>
        </div>
      </div>
    </div>

  <div id="site-footer"></div>
</body>
</html>

