<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Input</title>
    <script src="js/search.js"></script>
    <script src="js/include-head-assets.js"></script>
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/include-header.js" defer></script>
    <script src="js/include-footer.js" defer></script>
    <script src="js/modal.js" defer></script>
    <script src="js/mega-nav.js" defer></script>
</head>
<body>
    <div id="site-header"></div>

    <div class="mud-container mud-py-56">
        <div class="mud-row">
            <div class="mud-col-sm-7">
                <h1>Text Input</h1>
                <p class="mud-text-gray-400">
                    Text Inputs are designed to collect user information and are crucial components of forms and interactive interfaces. Within the design system, input fields are defined with consistent styles, sizes, spacing, and interactions to ensure a cohesive user experience.
                </p>
            </div>
        </div>
        
        <div class="mud-row">
            <div class="mud-col-12 mud-mt-56 mud-mb-32 mud-border-bottom-1 mud-border-bottom-solid mud-border-gray-200">
                <h4>Styles</h4>
            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">default</div>
                <div class="input-group">
                    <label for="input-default">Label</label>
                    <input id="input-default" type="text" placeholder="Placeholder" class="input" />
                </div>
            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">warning</div>
                <div class="input-group">
                    <label for="input-warning">Label</label>
                    <input id="input-warning" type="text" placeholder="Placeholder" class="input--warning" />
                </div>
            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">destructive</div>
                <div class="input-group">
                    <label for="input-destructive">Label</label>
                    <input id="input-destructive" type="text" placeholder="Placeholder" class="input--destructive" />
                </div>
            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">success</div>
                <div class="input-group">
                    <label for="input-destructive">Label</label>
                    <input id="input--success" type="text" placeholder="Placeholder" class="input--success" />
                </div>
            </div>
        </div>

        
        <div class="mud-row">
            <div class="mud-col-12 mud-mt-56 mud-mb-32 mud-border-bottom-1 mud-border-bottom-solid mud-border-gray-200">
                <h4>Variations</h4>
            </div>
            <div class="mud-col-12">
                <h5>Medium</h5>
            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">icon-none</div>
                <div class="input-group">
                    <label for="icon-none">Label</label>
                    <input id="icon-none" type="text" placeholder="Placeholder" class="input input--medium" />
                </div>
            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">icon-leading</div>
                <div class="input-group icon-leading">
                    <label for="icon-leading">Label</label>
                    <div class="input-wrapper input-wrapper--medium">
                        <span class="input-icon left icon-search">
                            <svg class="icon medium" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-search"></use>
                            </svg>
                        </span>
                        <input id="icon-leading" type="text" placeholder="Placeholder" class="input input--medium" />
                    </div>
                </div>
            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">icon-trailing</div>
                <div class="input-group icon-trailing">
                    <label for="icon-trailing">Label</label>
                    <div class="input-wrapper input-wrapper--medium">
                        <input id="icon-trailing" type="text" placeholder="Placeholder" class="input input--medium" />
                        <span class="input-icon right chevron-bottom">
                            <svg class="icon medium" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">icon-both</div>
                <div class="input-group icon-both">
                    <label for="icon-both">Label</label>
                    <div class="input-wrapper input-wrapper--medium">
                        <span class="input-icon left icon-search">
                            <svg class="icon medium" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-search"></use>
                            </svg>
                        </span>
                        <input id="icon-both" type="text" placeholder="Placeholder" class="input input--medium" />
                        <span class="input-icon right chevron-bottom">
                            <svg class="icon medium" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>

            <div class="mud-col-12 mud-mt-56">
                <h5>Large</h5>
            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">icon-none</div>
                <div class="input-group">
                    <label for="icon-none">Label</label>
                    <input id="icon-none" type="text" placeholder="Placeholder" class="input" />
                </div>
            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">icon-leading</div>
                <div class="input-group icon-leading">
                    <label for="icon-leading">Label</label>
                    <div class="input-wrapper">
                        <span class="mud-radius-8 mud-inline-flex icon-search">
                            <svg class="icon large" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-search"></use>
                            </svg>
                        </span>
                        <input id="icon-leading" type="text" placeholder="Placeholder" class="input" />
                    </div>
                </div>

            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">icon-trailing</div>
                <div class="input-group icon-trailing">
                    <label for="icon-trailing">Label</label>
                    <div class="input-wrapper">
                        <input id="icon-trailing" type="text" placeholder="Placeholder" class="input" />
                        <span class="input-icon right chevron-bottom">
                            <svg class="icon large" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">icon-both</div>
                <div class="input-group icon-both">
                    <label for="icon-both">Label</label>
                    <div class="input-wrapper">
                        <span class="input-icon left icon-search">
                            <svg class="icon large" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-search"></use>
                            </svg>
                        </span>
                        <input id="icon-both" type="text" placeholder="Placeholder" class="input" />
                        <span class="input-icon right chevron-bottom">
                            <svg class="icon large" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="mud-row">
            <div class="mud-col-12">
                <div class="mud-mt-56 mud-mb-32 mud-border-bottom-1 mud-border-bottom-solid mud-border-gray-200">
                    <h4>States</h4>
                </div>
            </div>
        </div>

        <div class="mud-row">
            
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">default: default</div>
                <div class="input-group mud-mb-24">
                    <label for="default-default">Label</label>
                    <input id="default-default" type="text" placeholder="Placeholder" class="input" />
                </div>

                <div class="mud-mb-16 descriptor">default: hover</div>
                <div class="input-group mud-mb-24">
                    <label for="default-hover">Label</label>
                    <input id="default-hover" type="text" placeholder="Placeholder" class="input is-hover" />
                </div>

                <div class="mud-mb-16 descriptor">default: focus-empty</div>
                <div class="input-group mud-mb-24">
                    <label for="default-focus-empty">Label</label>
                    <input id="default-focus-empty" type="text" placeholder="Placeholder" class="input is-focus" />
                </div>

                <div class="mud-mb-16 descriptor">default: focus-filled</div>
                <div class="input-group mud-mb-24">
                    <label for="default-focus-populated">Label</label>
                    <input id="default-focus-populated" type="text" placeholder="Placeholder" value="filled" class="input is-focus" />
                </div>

                <div class="mud-mb-16 descriptor">default: loading</div>
                <div class="input-group mud-mb-24">
                    <label for="default-loading">Label</label>
                    <div class="input-wrapper is-loading">
                        <input id="default-loading" type="text" placeholder="Loading..." class="input">
                        <span class="spinner spinner--extra-small spinner--brand"></span>
                    </div>
                </div>

                <div class="mud-mb-16 descriptor">default: filled</div>
                <div class="input-group mud-mb-24">
                    <label for="default-focus-populated">Label</label>
                    <input id="default-focus-populated" type="text" placeholder="Placeholder" class="input" />
                </div>

                <div class="mud-mb-16 descriptor">default: disabled</div>
                <div class="input-group mud-mb-24">
                    <label for="default-disabled">Label</label>
                    <input id="default-disabled" type="text" placeholder="Placeholder" class="input" disabled />
                </div>

                <div class="mud-mb-16 descriptor">default: mandatory</div>
                <div class="input-group mud-mb-24">
                    <label for="default" class="required">Label</label>
                    <input id="default" type="text" placeholder="Placeholder" class="input" />
                </div>

                <div class="mud-mb-16 descriptor">default: read-only</div>
                <div class="input-group mud-mb-24">
                    <label for="default">Label</label>
                    <div class="input-wrapper">
                        <input id="readonly-default" type="text" placeholder="Placeholder" class="input" readonly />
                        <span class="input-icon right checkmark">
                            <svg class="icon large" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>

            
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">warning: default</div>
                <div class="input-group mud-mb-24">
                    <label for="warning-default">Label</label>
                    <input id="input-warning" type="text" placeholder="Placeholder" class="input--warning" />
                </div>

                <div class="mud-mb-16 descriptor">warning: hover</div>
                <div class="input-group mud-mb-24">
                    <label for="warning-hover">Label</label>
                    <input id="warning-hover" type="text" placeholder="Placeholder" class="input--warning is-hover" />
                </div>

                <div class="mud-mb-16 descriptor">warning: focus-empty</div>
                <div class="input-group mud-mb-24">
                    <label for="warning-focus-empty">Label</label>
                    <input id="warning-focus-empty" type="text" placeholder="Placeholder" class="input--warning is-focus" />
                </div>

                <div class="mud-mb-16 descriptor">warning: focus-filled</div>
                <div class="input-group mud-mb-24">
                    <label for="warning-focus-populated">Label</label>
                    <input id="warning-focus-populated" type="text" placeholder="Placeholder" value="filled" class="input--warning is-focus" />
                </div>

                <div class="mud-mb-16 descriptor">warning: loading</div>
                <div class="input-group mud-mb-24">
                    <label for="warning-loading">Label</label>
                    <div class="input-wrapper is-loading">
                        <input id="warning-loading" type="text" placeholder="Loading..." class="input--warning">
                        <span class="spinner spinner--extra-small spinner--brand"></span>
                    </div>
                </div>

                <div class="mud-mb-16 descriptor">warning: filled</div>
                <div class="input-group mud-mb-24">
                    <label for="warning-focus-populated">Label</label>
                    <input id="warning-focus-populated" type="text" placeholder="Placeholder" class="input--warning" />
                </div>

                <div class="mud-mb-16 descriptor">warning: disabled</div>
                <div class="input-group mud-mb-24">
                    <label for="warning-disabled">Label</label>
                    <input id="warning-disabled" type="text" placeholder="Placeholder" class="input--warning" disabled />
                </div>

                <div class="mud-mb-16 descriptor">warning: mandatory</div>
                <div class="input-group mud-mb-24">
                    <label for="warning" class="required">Label</label>
                    <input id="warning" type="text" placeholder="Placeholder" class="input--warning" />
                </div>

            </div>

            
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">destructive: default</div>
                <div class="input-group mud-mb-24">
                    <label for="destructive-default">Label</label>
                    <input id="destructive-default" type="text" placeholder="Placeholder" class="input--destructive" />
                </div>

                <div class="mud-mb-16 descriptor">destructive: hover</div>
                <div class="input-group mud-mb-24">
                    <label for="destructive-hover">Label</label>
                    <input id="destructive-hover" type="text" placeholder="Placeholder" class="input--destructive is-hover" />
                </div>

                <div class="mud-mb-16 descriptor">destructive: focus-empty</div>
                <div class="input-group mud-mb-24">
                    <label for="destructive-focus-empty">Label</label>
                    <input id="destructive-focus-empty" type="text" placeholder="Placeholder" class="input--destructive is-focus" />
                </div>

                <div class="mud-mb-16 descriptor">destructive: focus-filled</div>
                <div class="input-group mud-mb-24">
                    <label for="destructive-focus-populated">Label</label>
                    <input id="destructive-focus-populated" type="text" placeholder="Placeholder" value="filled" class="input--destructive is-focus" />
                </div>

                <div class="mud-mb-16 descriptor">destructive: loading</div>
                <div class="input-group mud-mb-24">
                    <label for="destructive-loading">Label</label>
                    <div class="input-wrapper is-loading">
                        <input id="destructive-loading" type="text" placeholder="Loading..." class="input--destructive">
                        <span class="spinner spinner--extra-small spinner--brand"></span>
                    </div>
                </div>

                <div class="mud-mb-16 descriptor">destructive: filled</div>
                <div class="input-group mud-mb-24">
                    <label for="destructive-filled">Label</label>
                    <input id="destructive-filled" type="text" placeholder="Placeholder" class="input--destructive" />
                </div>

                <div class="mud-mb-16 descriptor">destructive: disabled</div>
                <div class="input-group mud-mb-24">
                    <label for="destructive-disabled">Label</label>
                    <input id="destructive-disabled" type="text" placeholder="Placeholder" class="input--destructive" disabled />
                </div>

                <div class="mud-mb-16 descriptor">destructive: mandatory</div>
                <div class="input-group mud-mb-24">
                    <label for="destructive-mandatory" class="required">Label</label>
                    <input id="destructive-mandatory" type="text" placeholder="Placeholder" class="input--destructive" />
                </div>
            </div>

            
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">success: default</div>
                <div class="input-group mud-mb-24">
                    <label for="success-default">Label</label>
                    <input id="success-default" type="text" placeholder="Placeholder" class="input--success" />
                </div>

                <div class="mud-mb-16 descriptor">success: default</div>
                <div class="input-group mud-mb-24">
                    <label for="success-hover">Label</label>
                    <input id="success-hover" type="text" placeholder="Placeholder" class="input--success is-hover" />
                </div>

                <div class="mud-mb-16 descriptor">success: focus-empty</div>
                <div class="input-group mud-mb-24">
                    <label for="success-focus-empty">Label</label>
                    <input id="success-focus-empty" type="text" placeholder="Placeholder" class="input--success is-focus" />
                </div>

                <div class="mud-mb-16 descriptor">success: focus-filled</div>
                <div class="input-group mud-mb-24">
                    <label for="success-focus-filled">Label</label>
                    <input id="success-focus-filled" type="text" placeholder="Placeholder" value="filled" class="input--success is-focus" />
                </div>

                <div class="mud-mb-16 descriptor">success: loading</div>
                <div class="input-group mud-mb-24">
                    <label for="success-loading">Label</label>
                    <div class="input-wrapper is-loading">
                        <input id="success-loading" type="text" placeholder="Loading..." class="input--success">
                        <span class="spinner spinner--extra-small spinner--brand"></span>
                    </div>
                </div>

                <div class="mud-mb-16 descriptor">success: filled</div>
                <div class="input-group mud-mb-24">
                    <label for="success-filled">Label</label>
                    <input id="success-filled" type="text" placeholder="Placeholder" class="input--success" />
                </div>

                <div class="mud-mb-16 descriptor">success: disabled</div>
                <div class="input-group mud-mb-24">
                    <label for="success-disabled">Label</label>
                    <input id="success-disabled" type="text" placeholder="Placeholder" class="input--success" disabled />
                </div>

                <div class="mud-mb-16 descriptor">success: mandatory</div>
                <div class="input-group mud-mb-24">
                    <label for="success-mandatory" class="required">Label</label>
                    <input id="success-mandatory" type="text" placeholder="Placeholder" class="input--success" />
                </div>

            </div>
        </div>

        
        <div class="mud-row">
            <div class="mud-col-12">
                <div class="mud-mt-56 mud-mb-32 mud-border-bottom-1 mud-border-bottom-solid mud-border-gray-200">
                    <h4>Assistive Text</h4>
                </div>
            </div>
            <div class="mud-col-7 mud-my-32">
                <div>
                    Assistive text conveys additional guidance about the input field, such as how it will be used. It should only take up one or two lines, being persistently visible or visible only on focus.
                </div>
            </div>
        </div>

        <div class="mud-row">
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">default</div>
                <div class="input-group mud-mb-24">
                    <label for="default-default">Label</label>
                    <input id="default-default" type="text" placeholder="Placeholder" class="input">
                    <div class="input-message default">
                        Helper message displayed here
                    </div>
                </div>
            </div>

            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">warning</div>
                <div class="input-group mud-mb-24">
                    <label for="default-default">Label</label>
                    <input id="default-default" type="text" placeholder="Placeholder" class="input--warning">
                    <div class="input-message warning">
                        <span class="">
                            <svg class="icon medium" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-warning-filled"></use>
                            </svg>
                        </span>
                        Helper message displayed here
                    </div>
                </div>
            </div>

            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">destructive</div>
                <div class="input-group mud-mb-24">
                    <label for="default-default">Label</label>
                    <input id="default-default" type="text" placeholder="Placeholder" class="input--destructive">
                    <div class="input-message destructive">
                        <span class="">
                            <svg class="icon medium" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-circle-error-filled"></use>
                            </svg>
                        </span>
                        Helper message displayed here
                    </div>
                </div>
            </div>

            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">success</div>
                <div class="input-group mud-mb-24">
                    <label for="default-default">Label</label>
                    <input id="default-default" type="text" placeholder="Placeholder" class="input--success">
                    <div class="input-message success mud-mt-6">
                        <span class="">
                            <svg class="icon medium" aria-hidden="true">
                                <use href="assets/icons/sprite.svg#icon-circle-checkmark-filled"></use>
                            </svg>
                        </span>
                        Helper message displayed here
                    </div>
                </div>
            </div>
        </div>

        
        <div class="mud-row">
            <div class="mud-col-12">
                <div class="mud-mt-56 mud-mb-32 mud-border-bottom-1 mud-border-bottom-solid mud-border-gray-200">
                    <h4>Overflow</h4>
                </div>
            </div>
            <div class="mud-col-7 mud-my-32">
                <div>
                    Text Input values can overflow horizontally. While the field is focused, the content automatically scrolls to keep the cursor visible as the user types. Once the input loses focus, the view resets to the beginning of the text. Refocusing the input brings the user back to the end of the content.
                </div>
            </div>
        </div>

        <div class="mud-row">
            

            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">overflow</div>
                <div class="input-group">
                    <label for="default-default">Label</label>
                    <input id="default-default" type="text" placeholder="Placeholder" value="Text Input values can overflow horizontally." class="input" onfocus="focusInput(this)"/>
                </div>
            </div>
        </div>

        
        <div class="mud-row">
            <div class="mud-col-12">
                <div class="mud-mt-56 mud-mb-32 mud-border-bottom-1 mud-border-bottom-solid mud-border-gray-200">
                    <h4>Clearing Input</h4>
                </div>
            </div>
            <div class="mud-col-7 mud-my-32">
                <div>
                    The clear button may automatically appear as a trailing icon when the input field is focused and contains one or more characters. It also may become visible when the text input is populated and in a filled state.
                </div>
            </div>
        </div>

        <div class="mud-row">
            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">focus</div>
                <div class="input-group icon-leading">
                    <label for="icon-leading">Label</label>
                    <div class="search-input input-wrapper has-value is-ready">
                        <input id="icon-leading" type="text" placeholder="Placeholder" class="input is-focus" value="focus" />
                        <div class="mud-btn-alignment">
                            <span class="spinner spinner--extra-small spinner--brand"></span>
                            <button type="button" class="mud-btn-icon clear">
                                <svg class="icon small" aria-hidden="true">
                                    <use href="assets/icons/sprite.svg#icon-cross-small"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mud-col-3">
                <div class="mud-mb-16 descriptor">filled</div>
                <div class="input-group icon-leading">
                    <label for="icon-leading">Label</label>
                    <div class="search-input input-wrapper has-value is-ready">
                        <input type="text" placeholder="Placeholder" class="input" value="filled" />
                        <div class="mud-btn-alignment">
                            <span class="spinner spinner--extra-small spinner--brand"></span>
                            <button type="button" class="mud-btn-icon clear">
                                <svg class="icon small" aria-hidden="true">
                                    <use href="assets/icons/sprite.svg#icon-cross-small"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="site-footer"></div>

    <script>
        function focusInput(input) {
            const len = input.value.length;

            input.scrollLeft = input.scrollWidth
            input.setSelectionRange(len, len);
        }

        
        

        

        
        
        
        
        
    </script>

</body>
</html>
