<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Link Preview</title>
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/main.js" defer></script>
</head>
<body>
  <div class="container py-56">
    <div class="row">
      <div class="col-sm-7">
         <h1>Link</h1>
        <p class="text-gray-400">
           A link serves as an interactive element that allows users to navigate between pages,
           sections, or external resources. Its purpose is to connect content, guiding users to relevant information or actions.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Sizes</h2> 
        </div>   
      </div>
    </div>  

    <div class="row">
      <div class="col-3">
        <a href="#" class="link link-lg link-primary link-underline link-target-pointer">link</a> <span>large</span>
      </div>
      <div class="col-3"> 
        <a href="#" class="link link-md link-primary link-underline link-target-pointer">link</a> <span>medium</span>
      </div>
      <div class="col-3">
        <a href="#" class="link link-sm link-primary link-underline link-target-pointer">link</a> <span>small</span>
      </div>
      <div class="col-3">
        <a href="#" class="link link-xs link-primary link-underline link-target-pointer">link</a> <span>extra-small</span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Variations</h2> 
        </div>   
      </div>
    </div> 
    <div class="row row-gap-32">
      <div class="col-3">
        <div class="mb-20">
          <a class="link link-lg link-primary link-underline link-target-pointer">link</a> <span>large</span>
        </div>
        <div>
          <a class="link link-lg link-primary link-no-underline link-target-pointer">link</a> <span>large</span>
        </div>
      </div>

      <div class="col-3">
        <div  class="mb-20">
          <a class="link link-md link-primary link-underline link-target-pointer">link</a> <span>medium</span>
        </div>
        <div>
          <a class="link link-md link-primary link-no-underline link-target-pointer">link</a> <span>medium</span>
        </div>
      </div>

      <div class="col-3">
        <div  class="mb-20">
          <a class="link link-sm link-primary link-underline link-target-pointer">link</a> <span>small</span>
        </div>
        <div>
          <a class="link link-sm link-primary link-no-underline link-target-pointer">link</a> <span>small</span>
        </div>
      </div>

      <div class="col-3">
        <div  class="mb-20">
          <a class="link link-xs link-primary link-underline link-target-pointer">link</a> <span>extra-small</span>
        </div>
        <div>
          <a class="link link-xs link-primary link-no-underline link-target-pointer">link</a> <span>extra-small</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Styles</h2> 
        </div>   
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="mb-20">
          <a class="link link-lg link-primary link-underline">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-lg link-strict link-underliner">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-lg link-white link-underline bg-black px-6">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-lg link-primary link-no-underline">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-lg link-strict link-no-underline">link</a> <span>large</span>
        </div>
        <div>
          <a class="link link-lg link-white link-no-underline bg-black px-6">link</a> <span>large</span>
        </div>
      </div>

      <div class="col-3">
        <div class="mb-20">
          <a class="link link-md link-primary link-underline">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-md link-strict link-underliner">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-md link-white link-underline bg-black px-6">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-md link-primary link-no-underline">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-md link-strict link-no-underline">link</a> <span>large</span>
        </div>
        <div>
          <a class="link link-md link-white link-no-underline bg-black px-6">link</a> <span>large</span>
        </div>
      </div>

      <div class="col-3">
        <div class="mb-20">
          <a class="link link-sm link-primary link-underline">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-sm link-strict link-underliner">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-sm link-white link-underline bg-black px-6">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-sm link-primary link-no-underline">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-sm link-strict link-no-underline">link</a> <span>large</span>
        </div>
        <div>
          <a class="link link-sm link-white link-no-underline bg-black px-6">link</a> <span>large</span>
        </div>
      </div>

      <div class="col-3">
        <div class="mb-20">
          <a class="link link-xs link-primary link-underline">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-xs link-strict link-underliner">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-xs link-white link-underline bg-black px-6">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-xs link-primary link-no-underline">link</a> <span>large</span>
        </div>
        <div class="mb-20">
          <a class="link link-xs link-strict link-no-underline">link</a> <span>large</span>
        </div>
        <div>
          <a class="link link-xs link-white link-no-underline bg-black px-6">link</a> <span>large</span>
        </div>
      </div>
   </div>

   <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>States</h2> 
        </div>   
      </div>
    </div>
  
  </div>


</body>
</html>
