<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Messaging Inline Preview</title>
  <link rel="stylesheet" href="css/main.css"> 
  <script defer src="../Components/js/messages.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1>Inline Message</h1>
        <p class="text-gray-400">
          Inline messages are used within a user interface to provide immediate feedback or guidance to users in context with their actions. These messages typically appear inline with the relevant element or form field and serve various purposes.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Variations</h2>  
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col-3">
        <p>icon-none</p> 
        <div class="message message--inline message--info"> 
          <span class="message__text">Inline message</span>
        </div>
      </div>
      <div class="col-3">
        <p>icon-leading</p>  
        <div class="message message--inline message--info">
          <span class="message__icon">
            <svg class="icon large" aria-hidden="true"> 
              <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use> 
            </svg> 
          </span>
          <span class="message__text">Inline message</span>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-12">
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Styles</h2>  
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>default</p> 
        <div class="message message--inline message--info"> 
          <span class="message__icon">
            <svg class="icon large" aria-hidden="true"> 
              <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use> 
            </svg> 
          </span>
          <span class="message__text">Inline message</span>
        </div>
      </div>
      <div class="col-3">
        <p>warning</p> 
        <div class="message message--inline message--warning"> 
          <span class="message__icon">
            <svg class="icon large" aria-hidden="true"> 
              <use href="assets/icons/sprite.svg#icon-warning-filled"></use> 
            </svg>
          </span>
          <span class="message__text">Inline message</span>
        </div>
      </div>
      <div class="col-3">
        <p>success</p> 
        <div class="message message--inline message--success"> 
          <span class="message__icon">
            <svg class="icon medium" aria-hidden="true"> 
              <use href="assets/icons/sprite.svg#icon-circle-checkmark-filled"></use> 
            </svg>
          </span>
          <span class="message__text">Inline message</span>
        </div>
      </div>
      <div class="col-3">
        <p>error</p>  
        <div class="message message--inline message--error">
          <span class="message__icon">
            <svg class="icon medium" aria-hidden="true"> 
              <use href="assets/icons/sprite.svg#icon-circle-error-filled"></use> 
            </svg> 
          </span>
          <span class="message__text">Inline message</span>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="col-12">
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Sizes</h2>  
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <h3>Small</h3>
      </div>
      <div class="col-3">
        <div class="mb-32"> 
          <p>info</p>
          <div class="message message--inline message--info message--small"> 
            <span class="message__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use> 
              </svg> 
            </span>
            <span class="message__text">Inline message</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="mb-32">
          <p>warning</p> 
          <div class="message message--inline message--warning message--small"> 
            <span class="message__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-warning-filled"></use> 
              </svg>
            </span>
            <span class="message__text">Inline message</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="mb-32">
          <p>success</p> 
          <div class="message message--inline message--success message--small"> 
            <span class="message__icon">
              <svg class="icon medium" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-checkmark-filled"></use> 
              </svg>
            </span>
            <span class="message__text">Inline message</span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="mb-32">
          <p>error</p>  
          <div class="message message--inline message--error message--small">
            <span class="message__icon">
              <svg class="icon medium" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-error-filled"></use> 
              </svg> 
            </span>
            <span class="message__text">Inline message</span>
          </div>
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col-12"> 
        <h3>
          Medium
        </h3>
      </div>
      <div class="col-3"> 
        <div class="mb-32"> 
          <p>info</p>
          <div class="message message--inline message--info"> 
            <span class="message__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use> 
              </svg> 
            </span>
            <span class="message__text">Inline message</span>
          </div>
        </div>
      </div>
      <div class="col-3"> 
        <div class="mb-32">
          <p>warming</p> 
          <div class="message message--inline message--warning"> 
            <span class="message__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-warning-filled"></use> 
              </svg>
            </span>
            <span class="message__text">Inline message</span>
          </div>
        </div>
      </div>
      <div class="col-3"> 
        <div class="mb-32">
          <p>success</p> 
          <div class="message message--inline message--success"> 
            <span class="message__icon">
              <svg class="icon medium" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-checkmark-filled"></use> 
              </svg>
            </span>
            <span class="message__text">Inline message</span>
          </div>
        </div>
      </div>
      <div class="col-3"> 
        <div class="mb-32">
          <p>error</p>  
          <div class="message message--inline message--error">
            <span class="message__icon">
              <svg class="icon medium" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-error-filled"></use> 
              </svg> 
            </span>
            <span class="message__text">Inline message</span>
          </div>
        </div>
      </div>
    </div> 

    <div class="row">
      <div class="col-12">
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Usage</h2>  
        </div>
      </div>
      <div class="col-7">
        <p class="text-gray-400">
          Inline messages provide helpful, contextual guidance or feedback directly alongside user inputs or interface elements, improving clarity, reducing errors, and enhancing the overall user experience.
        </p>
      </div>
    </div> 
    <div class="row">
      <div class="col-3">
        <div class="input-group mb-24">
          <p>assistive-text</p>
          <label for="default-default">Label</label>
          <input id="default-default" type="text" placeholder="Placeholder" class="input--warning">
          <div class="message message--inline message--warning mt-4"> 
            <span class="message__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-warning-filled"></use> 
              </svg>
            </span>
            <span class="message__text">Inline message</span>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</body>
</html>
