<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Messaging Informational Box Preview</title>
  <link rel="stylesheet" href="css/main.css"> 
  <script defer src="../Components/js/messages.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1>Informational Box</h1>
        <p class="text-gray-400">
          Informational box component serves to display important information or content within a user interface. It is typically used to highlight key messages, announcements, alerts, or explanations that require users' attention.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Styles</h2>  
        </div> 
      </div>
      <div class="col-7">
        <p class="text-gray-400">
          Each type of toast conveys a specific message through its style and context. The available options are info, warning, success, and error. Select the appropriate semantic type based on the nature of the message you want to communicate.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-7">  
        <div class="mt-24 mb-40">
          <p>neutral</p>
          <div class="info-box info-box--neutral">
            <span class="info-box__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use> 
              </svg> 
            </span>
            <div class="info-box__content"> 
              <p>
                For enhanced security, always use two-factor authentication when accessing your digital identity or personal records online. 
              </p>
            </div>
          </div>
        </div> 
        <div class="mb-40">
          <p>prominent</p>
          <div class="info-box info-box--info">
            <span class="info-box__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use> 
              </svg> 
            </span>
            <div class="info-box__content"> 
              <p>
                For enhanced security, always use two-factor authentication when accessing your digital identity or personal records online. 
              </p>
            </div>
          </div>
        </div>

        <div class="mb-40">
          <p>warning</p>
          <div class="info-box info-box--warning">
            <span class="info-box__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-warning-filled"></use> 
              </svg> 
            </span>
            <div class="info-box__content"> 
              <p>
                For enhanced security, always use two-factor authentication when accessing your digital identity or personal records online. 
              </p>
            </div>
          </div>
        </div>

        <div class="mb-40">
          <p>error</p>
          <div class="info-box info-box--error">
            <span class="info-box__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use> 
              </svg> 
            </span>
            <div class="info-box__content"> 
              <p>
                For enhanced security, always use two-factor authentication when accessing your digital identity or personal records online. 
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
    </div> 
    
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Variations</h2>  
        </div> 
      </div>
      <div class="col-7">
        <p class="text-gray-400">
          Informational boxes can appear in a variety of formats depending on the context and user needs.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-7">  
        <div class="mt-24 mb-40">
          <p>with icon</p>
          <div class="info-box info-box--info">
            <span class="info-box__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use> 
              </svg> 
            </span>
            <div class="info-box__content"> 
              <p>
                For enhanced security, always use two-factor authentication when accessing your digital identity or personal records online. 
              </p>
            </div>
          </div>
        </div> 
        <div class="mb-40">
          <p>icon-none</p>
          <div class="info-box info-box--info"> 
            <div class="info-box__content"> 
              <p>
                For enhanced security, always use two-factor authentication when accessing your digital identity or personal records online. 
              </p>
            </div>
          </div>
        </div>

        <div class="mb-40">
          <p>with heading</p>
          <div class="info-box info-box--info">
            <span class="info-box__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use> 
              </svg> 
            </span>
            <div class="info-box__content"> 
              <h5 class="info-box__title">
                Understanding Your Digital Identity
              </h5>
              <p>
                For enhanced security, always use two-factor authentication when accessing your digital identity or personal records online. 
              </p>
            </div>
          </div>
        </div>

        <div class="mb-40">
          <p>with close</p>
          <div class="info-box info-box--info">
            <span class="info-box__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use>
              </svg> 
            </span>
            <div class="info-box__content"> 
              <h5 class="info-box__title">
                Understanding Your Digital Identity
              </h5>
              <p>
                For enhanced security, always use two-factor authentication when accessing your digital identity or personal records online. 
              </p>
            </div>
            <button class="banner__close" aria-label="Close">
              <span class="d-inline-flex">
                <svg class="icon small" aria-hidden="true"> 
                  <use href="assets/icons/sprite.svg#icon-cross-large"></use> 
                </svg>
              </span>
            </button>
          </div>
        </div>

        <div class="mb-40">
          <p>with link</p>
          <div class="info-box info-box--info">
            <span class="info-box__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use>
              </svg> 
            </span>
            <div class="info-box__content"> 
              <h5 class="info-box__title">
                Understanding Your Digital Identity
              </h5>
              <p>
                For enhanced security, always use two-factor authentication when accessing your digital identity or personal records online. 
              </p>
              <div class="info-box__action">
                <a href="#">Learn more</a>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-40">
          <p>with action</p>
          <div class="info-box info-box--info">
            <span class="info-box__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use>
              </svg> 
            </span>
            <div class="info-box__content"> 
              <h5 class="info-box__title">
                Understanding Your Digital Identity
              </h5>
              <p>
                For enhanced security, always use two-factor authentication when accessing your digital identity or personal records online. 
              </p>
              <div class="info-box__action">
                <button type="button" class="btn btn-primary">Confirm you identity</button>
              </div>
            </div>
          </div>
        </div> 

      </div>
    </section>
    </div> 

     <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Target Sizes</h2>  
        </div> 
      </div>
      <div class="col-7">
        <p class="text-gray-400">
          Touch and click target sizes are crucial for creating interfaces that are both user-friendly and accessible. Consistent sizing improves usability, reduces errors, and supports users across various input methods and devices.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <div class="mb-40">
          <p>pointer-devices</p>
          <div class="info-box info-box--info">
            <span class="info-box__icon">
              <svg class="icon large" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-circle-info-filled"></use>
              </svg> 
            </span>
            <div class="info-box__content"> 
              <h5 class="info-box__title">
                Understanding Your Digital Identity
              </h5>
              <p>
                For enhanced security, always use two-factor authentication when accessing your digital identity or personal records online. 
              </p>
            </div>
            <button class="banner__close" aria-label="Close" style="background-color: rgba(47, 86, 255, 0.25);">
              <span class="d-inline-flex">
                <svg class="icon small" aria-hidden="true"> 
                  <use href="assets/icons/sprite.svg#icon-cross-large"></use> 
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>  
 
  <script src="messages.js"></script>
</body>
</html>
