<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spacing Preview Widths</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <div class="container py-56">
    <div class="row">
      <div class="col-sm-7">
         <h1>Radio Buttons Preview</h1>
        <p class="text-gray-400">
          The role of a radio button is to provide users with a selection mechanism for mutually exclusive options within a set. Radio buttons typically allow users to choose one option from a predefined list, conveying clarity and ease of interaction.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Sizes</h2> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="radio-group mb-32">
          <label class="radio radio--medium">
            <input type="radio" name="unselected" value="1" class="radio-input">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">medium</span>
              <span class="radio-description">unselected</span>
            </span>
          </label> 
        </div> 
        <div class="radio-group mb-32">
          <label class="radio radio--medium">
            <input type="radio" name="selected" value="1" class="radio-input" checked="">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">medium</span>
              <span class="radio-description">selected</span>
            </span>
          </label>
        </div>   
      </div>
      <div class="col-6">
        <div class="radio-group mb-32">
          <label class="radio radio--small">
            <input type="radio" name="option" value="2" class="radio-input">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">small</span>
              <span class="radio-description">unselected</span>
            </span>
          </label> 
        </div>
        <div class="radio-group mb-32">
          <label class="radio radio--small">
            <input type="radio" name="option" value="2" class="radio-input">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">small</span>
              <span class="radio-description">selected</span>
            </span>
          </label> 
        </div> 
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>States</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="radio-group mb-32">
          <label class="radio radio--medium">
            <input type="radio" name="unselected" value="1" class="radio-input">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">default</span>
              <span class="radio-description">unselected</span>
            </span>
          </label> 
        </div> 
        <div class="radio-group mb-32">
          <label class="radio radio--medium">
            <input type="radio" name="selected" value="2" class="radio-input" checked="">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">default</span>
              <span class="radio-description">selected</span>
            </span>
          </label>
        </div>     

      </div>
      <div class="col-3">
        <div class="radio-group mb-32">
          <label class="radio radio--medium">
            <input type="radio" name="option" value="1" class="radio-input">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">focus</span>
              <span class="radio-description">unselected</span>
            </span>
          </label> 
        </div> 
        <div class="radio-group mb-32">
          <label class="radio radio--medium">
            <input type="radio" name="option" value="2" class="radio-input" checked="">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">focus</span>
              <span class="radio-description">selected</span>
            </span>
          </label>
        </div> 
      </div>
        <div class="col-3">
        <div class="radio-group mb-32">
          <label class="radio radio--medium">
            <input type="radio" name="option" value="1" class="radio-input" disabled>
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">disabled</span>
              <span class="radio-description">unselected</span>
            </span>
          </label> 
        </div> 
        <div class="radio-group mb-32">
          <label class="radio radio--medium">
            <input type="radio" name="option" value="2" class="radio-input" checked="" disabled>
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">disabled</span>
              <span class="radio-description">selected</span>
            </span>
          </label>
        </div> 
      </div>
      <div class="col-3">
        <div class="radio-group mb-32">
          <label class="radio radio--medium radio--error">
            <input type="radio" name="option" value="1" class="radio-input">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">error</span>
              <span class="radio-description">unselected</span>
            </span>
          </label>
        </div>
      </div> 
    </div> 

    <div class="row">
      <div class="col-12 mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Label Group Sizes</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="radio-group mb-32">
          <label class="radio radio--medium">
            <input type="radio" name="option" value="1" class="radio-input">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">Transforming Services</span> 
            </span>
          </label>
        </div>
        <div class="radio-group mb-32">
          <label class="radio radio--small">
            <input type="radio" name="option" value="1" class="radio-input">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">Transforming Services</span> 
            </span>
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="radio-group mb-32">
          <label class="radio radio--medium">
            <input type="radio" name="option" value="1" class="radio-input">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">Transforming Services</span> 
              <span class="radio-description">Moldova’s digital evolution is at the heart of seamless public service delivery.</span>
            </span>
          </label>
        </div>
        <div class="radio-group mb-32">
          <label class="radio radio--small">
            <input type="radio" name="option" value="1" class="radio-input">
            <span class="radio-custom"></span>
            <span class="radio-texts">
              <span class="radio-label">Transforming Services</span>
              <span class="radio-description">Moldova’s digital evolution is at the heart of seamless public service delivery.</span> 
            </span>
          </label>
        </div>
      </div>
    </div>
</div>

</body>
</html>
