<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Border Radius Preview</title>
  <link rel="stylesheet" href="css/main.css" />
  <style>

  </style>
</head>
<body>
  <div class="container py-56">
    <div class="row">
      <div class="col-sm-7">
        <h1>
          Borders
        </h1>
        <p class="text-gray-400">
          Border tokens define the width and curvature of element edges. 
          Border radius controls the roundness of corners for components like buttons, cards, and input fields, while border width sets the thickness of those edges.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
         <h2 class="text-xl  mb-32 border-bottom-1 border-bottom-solid border-gray-200">Radius Tokens</h2> 
        <table class="token-table">
          <thead>
            <tr>
              <th class="fw-regular">Token Name</th>
              <th class="fw-regular">Value, rem</th>
              <th class="fw-regular">Value, px</th>
              <th class="fw-regular">CSS Class</th>
              <th class="fw-regular">Radius Preview</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <code class="token-name radius-8 py-2 px-6">--border-radius-0</code>
              </td>
              <td>0rem</td>
              <td>0px</td>
              <td><code>.radius-0</code></td>
              <td class="border-preview-box bg-gray-100 radius-16 my-32">
                <div class="border-preview-inner border-bottom-0 border-left-0 border-top-2 border-right-2 border radius-top-right-0"></div>
              </td>
            </tr>
            <tr>
              <td>
                <code class="token-name radius-8 py-2 px-6">--border-radius-4</code></td>
              <td>0.25rem</td>
              <td>4px</td>
              <td><code>.radius-4</code></td>
              <td class="border-preview-box bg-gray-100 radius-16 my-32">
                <div class="border-preview-inner border-bottom-0 border-left-0 border-top-2 border-right-2 border radius-top-right-4"></div>
              </td>
            </tr>
            <tr>
              <td>
                <code class="token-name radius-8 py-2 px-6">--border-radius-6</code>
              </td>
              <td>0.375rem</td>
              <td>6px</td>
              <td><code>.radius-6</code></td>
              <td class="border-preview-box bg-gray-100 radius-16 my-32">
                <div class="border-preview-inner border-bottom-0 border-left-0 border-top-2 border-right-2 border radius-top-right-6"></div>
              </td>
            </tr>
            <tr>
              <td>
                <code class="token-name radius-8 py-2 px-6">--border-radius-8</code>
              </td>
              <td>0.5rem</td>
              <td>8px</td>
              <td><code>.radius-8</code></td>
              <td class="border-preview-box bg-gray-100 radius-16 my-32">
                <div class="border-preview-inner border-bottom-0 border-left-0 border-top-2 border-right-2 border radius-top-right-8"></div>
              </td>
            </tr>
            <tr>
              <td>
                <code class="token-name radius-8 py-2 px-6">--border-radius-12</code>
              </td>
              <td>0.75rem</td>
              <td>12px</td>
              <td><code>.radius-12</code></td>
              <td class="border-preview-box bg-gray-100 radius-16 my-32">
                <div class="border-preview-inner border-bottom-0 border-left-0 border-top-2 border-right-2 border radius-top-right-12"></div>
              </td>
            </tr>
            <tr>
              <td>
                <code class="token-name radius-8 py-2 px-6">--border-radius-16</code>
              </td>
              <td>1rem</td>
              <td>16px</td>
              <td><code>.radius-16</code></td>
              <td class="border-preview-box bg-gray-100 radius-16 my-32">
                <div class="border-preview-inner border-bottom-0 border-left-0 border-top-2 border-right-2 border radius-top-right-16"></div>
              </td>
            </tr>
            <tr>
              <td>
                <code class="token-name radius-8 py-2 px-6">--border-radius-32</code>
              </td>
              <td>2rem</td>
              <td>32px</td>
              <td><code>.radius-32</code></td>
              <td class="border-preview-box bg-gray-100 radius-16 my-32">
                <div class="border-preview-inner border-bottom-0 border-left-0 border-top-2 border-right-2 border radius-top-right-32"></div>
              </td>
            </tr>
            <tr>
              <td>
                <code class="token-name radius-8 py-2 px-6">--border-radius-full</code>
              </td>
              <td>62rem</td>
              <td>999px</td>
              <td><code>.radius-full</code></td>
              <td class="border-preview-box bg-gray-100 radius-16 my-32">
                <div class="border-preview-inner border-bottom-0 border-left-0 border-top-2 border-right-2 border radius-top-right-full"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
