<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Segmented Control Preview</title>
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/main.js" defer></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
         <h1>Segmented Controls</h1>
        <p class="text-gray-400">
          Segmented control is used to pick one choice from a linear set of closely related choices, and immediately apply that selection.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Types</h2> 
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-md-2">
        <P>2-segments</P>
        <div class="tabs">
          <div class="segmented-control">
            <button class="segment-item is-selected">Label</button>
            <button class="segment-item">Label</button> 
          </div>
        </div> 
      </div>  
      <div class="col-md-3">
        <P>3-segments</P>
        <div class="tabs">
          <div class="segmented-control">
            <button class="segment-item is-selected">Label</button>
            <button class="segment-item">Label</button> 
            <button class="segment-item">Label</button> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <P>4-segments</P>
        <div class="tabs">
          <div class="segmented-control">
            <button class="segment-item is-selected">Label</button>
            <button class="segment-item">Label</button> 
            <button class="segment-item">Label</button> 
            <button class="segment-item">Label</button> 
          </div>
        </div>
      </div> 
      <div class="col-md-3">
        <P>5-segments</P>
        <div class="tabs">
          <div class="segmented-control">
            <button class="segment-item is-selected">Label</button>
            <button class="segment-item">Label</button> 
            <button class="segment-item">Label</button> 
            <button class="segment-item">Label</button> 
            <button class="segment-item">Label</button> 
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Mode</h2> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <P>Default</P>
        <div class="tabs">
          <div class="segmented-control">
            <button class="segment-item is-selected">Label</button>
            <button class="segment-item">Label</button> 
            <button class="segment-item">Label</button> 
          </div>
        </div> 
      </div>  
      <div class="col-md-4">
        <P>Disabled</P>
        <div class="tabs">
          <div class="segmented-control">
            <button class="segment-item is-selected" disabled>Label</button>
            <button class="segment-item" disabled>Label</button> 
            <button class="segment-item" disabled>Label</button> 
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <P>Long text</P>
        <div class="tabs">
          <div class="segmented-control">
            <button class="segment-item is-selected">This is a long label</button>
            <button class="segment-item">This is a long label</button> 
            <button class="segment-item">This is a long label</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
