<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sidebar Preview</title>
  <script src="../Components/js/toggler.js" defer=""></script> 
  <script src="js/toggler.js" defer=""></script>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
         <h1>Sidebar</h1>
        <p class="text-gray-400">
          The sidebar serves as a persistent vertical navigation area, allowing users to access primary sections or features of an application or website.
          It helps organize complex interfaces by grouping related content and providing quick access to key destinations, improving overall navigation efficiency and user orientation.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Breakpoints</h2> 
        </div>
      </div>
    </div> 
    <div class="row mb-32">
      <div class="col-12">
        <p>desktop</p>
        <aside class="sidebar" aria-label="Primary navigation">
          <nav class="sidebar__nav">

            <!-- =========================
                Section 1
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-1">
              <div class="sidebar__heading">
                <h2 class="sidebar__title" id="sidebar-heading-1">
                  Heading
                </h2>
              </div>
              

              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a
                    href="#"
                    class="sidebar__link sidebar__link--active"
                    aria-current="page"
                  >
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-group-filled"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>
              </ul>
            </section>

            <!-- =========================
                Divider
                ========================= -->
           

            <!-- =========================
                Section 2
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-2">
              <div class="sidebar__heading"> 
                <hr class="separator separator--horizontal separator--thin separator--subtle"> 
                <h2 class="sidebar__title" id="sidebar-heading-2">
                  Heading
                </h2>
              </div>
              

              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>
              </ul>
            </section>

          </nav>
        </aside>


      </div>
    </div>   
    
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Types</h2> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <p>1st-level</p>
        <aside class="sidebar" aria-label="Primary navigation">
          <nav class="sidebar__nav">

            <!-- =========================
                Section 1
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-1">
              <div class="sidebar__heading">
                <h2 class="sidebar__title" id="sidebar-heading-1">
                  Heading
                </h2>
              </div>
              

              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a
                    href="#"
                    class="sidebar__link sidebar__link--active"
                    aria-current="page"
                  >
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-group-filled"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>
              </ul>
            </section>

            <!-- =========================
                Divider
                ========================= -->
           

            <!-- =========================
                Section 2
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-2">
              <div class="sidebar__heading"> 
                <hr class="separator separator--horizontal separator--thin separator--subtle"> 
                <h2 class="sidebar__title" id="sidebar-heading-2">
                  Heading
                </h2>
              </div>
              

              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>
              </ul>
            </section>

          </nav>
        </aside>
      </div>

      <div class="col-12 col-md-6">
        <p>2nd-level</p>
        <aside class="sidebar" aria-label="Primary navigation">
          <nav class="sidebar__nav">

            <!-- =========================
                Section 1
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-1">
              <div class="sidebar__heading">
                <h2 class="sidebar__title" id="sidebar-heading-1">
                  Heading
                </h2>
              </div>
              

              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a
                    href="#"
                    class="sidebar__link"
                    aria-current="page"
                  >
                    <span class="sidebar__icon" aria-hidden="true">
                     <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <button
                      class="sidebar__link sidebar__link--toggle"
                      data-toggle="#submenu-1"
                      data-scope="sidebar"
                      data-exclusive="true"
                      data-animation="slide"
                      aria-expanded="true"
                    >
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                    <span class="sidebar__chevron" aria-hidden="true">
                      <svg class="icon large" aria-hidden="true"> 
                        <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use> 
                      </svg>
                    </span>
                  </button>
                  <ul id="sidebar-submenu-1" class="sidebar__submenu" role="group" aria-labelledby="sidebar-toggle-1">
                    <li class="sidebar__item">
                      <a href="#" class="sidebar__link sidebar__link--active" aria-current="page">
                        <span class="sidebar__icon" aria-hidden="true">
                          <svg class="icon medium">
                            <use href="assets/icons/sprite.svg#icon-group-filled"></use>
                          </svg>
                        </span>
                        <span class="sidebar__label">Primary Label</span>
                      </a>
                    </li>
                    <li class="sidebar__item">
                      <a href="#" class="sidebar__link" aria-current="page">
                        <span class="sidebar__icon" aria-hidden="true">
                          <svg class="icon medium">
                            <use href="assets/icons/sprite.svg#icon-group"></use>
                          </svg>
                        </span>
                        <span class="sidebar__label">Primary Label</span>
                      </a>
                    </li>
                    <li class="sidebar__item">
                      <a href="#" class="sidebar__link" aria-current="page">
                        <span class="sidebar__icon" aria-hidden="true">
                          <svg class="icon medium">
                            <use href="assets/icons/sprite.svg#icon-group"></use>
                          </svg>
                        </span>
                        <span class="sidebar__label">Primary Label</span>
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>
              </ul>
            </section>

            <!-- =========================
                Divider
                ========================= -->
           

            <!-- =========================
                Section 2
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-2">
              <div class="sidebar__heading"> 
                <hr class="separator separator--horizontal separator--thin separator--subtle"> 
                <h2 class="sidebar__title" id="sidebar-heading-2">
                  Heading
                </h2>
              </div>
              

              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                <li class="sidebar__item">
                  <a href="#" class="sidebar__link">
                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>
              </ul>
            </section>

          </nav>
        </aside>
      </div>
    </div>

    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>List Item States</h2> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <p>default</p>
        <aside class="sidebar  border-0" aria-label="Primary navigation">
          <nav class="sidebar__nav pt-0">

            <!-- =========================
                Section 1
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-1">              

              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a
                    href="#"
                    class="sidebar__link"
                    aria-current="page"
                  >
                    <span class="sidebar__icon" aria-hidden="true">
                     <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                
              </ul>
            </section> 

          </nav>
        </aside>
      </div>

      <div class="col-12 col-md-3">
        <p>hover</p>
        <aside class="sidebar  border-0" aria-label="Primary navigation">
          <nav class="sidebar__nav pt-0">

            <!-- =========================
                Section 1
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-1">              

              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a
                    href="#"
                    class="sidebar__link"
                    aria-current="page"
                    style="background-color: #F5F5F5;"
                  >
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                
              </ul>
            </section> 

          </nav>
        </aside>
      </div>

      <div class="col-12 col-md-3">
        <p>focus</p>
        <aside class="sidebar  border-0" aria-label="Primary navigation">
          <nav class="sidebar__nav pt-0">

            <!-- =========================
                Section 1
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-1">              

              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a
                    href="#"
                    class="sidebar__link"
                    aria-current="page"
                    style="outline: 2px solid var(--blue-sky-600); outline-style: auto;"
                  >
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                
              </ul>
            </section> 

          </nav>
        </aside>
      </div>

      <div class="col-12 col-md-3">
        <p>active</p>
        <aside class="sidebar  border-0" aria-label="Primary navigation">
          <nav class="sidebar__nav pt-0">

            <!-- =========================
                Section 1
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-1">              

              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a
                    href="#"
                    class="sidebar__link sidebar__link--active"
                    aria-current="page"
                  >
                    <span class="sidebar__icon" aria-hidden="true">
                      <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-group-filled"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>

                
              </ul>
            </section> 

          </nav>
        </aside>
      </div>
    </div>

    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>List Item Types</h2> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <p>1st-level</p>
        <aside class="sidebar  border-0" aria-label="Primary navigation">
          <nav class="sidebar__nav pt-0">

            <!-- =========================
                Section 1
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-1">              

              <ul class="sidebar__list">
                <li class="sidebar__item">
                  <a
                    href="#"
                    class="sidebar__link"
                    aria-current="page"
                  >
                    <span class="sidebar__icon" aria-hidden="true">
                     <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>
                <li class="sidebar__item">
                  <a
                    href="#"
                    class="sidebar__link"
                    aria-current="page"
                  >
                    <span class="sidebar__icon" aria-hidden="true">
                     <svg class="icon medium" aria-hidden="true">
                        <use href="assets/icons/sprite.svg#icon-people"></use>
                      </svg>
                    </span>

                    <span class="sidebar__label">Primary Label</span>
                  </a>
                </li>
                
              </ul>
            </section> 

          </nav>
        </aside>
      </div>
      <div class="col-12 col-md-3">
        <p>2nd-level</p>
        <aside class="sidebar  border-0" aria-label="Primary navigation">
          <nav class="sidebar__nav pt-0">

            <!-- =========================
                Section 1
                ========================= -->
            <section class="sidebar__section" aria-labelledby="sidebar-heading-1">              

              <ul class="sidebar__list">

                <!-- =========================
                    Parent item (toggle)
                    ========================= -->
                <li class="sidebar__item sidebar__item--has-children">

  <button
    class="sidebar__link sidebar__link--toggle"
    data-toggle="#sidebar-submenu-1"
    data-animation="slide"
    data-exclusive="true"
    data-close="none"
    aria-expanded="false"
    aria-controls="sidebar-submenu-1"
    type="button"
  >
    <span class="sidebar__icon" aria-hidden="true">
      <svg class="icon small">
        <use href="assets/icons/sprite.svg#icon-people"></use>
      </svg>
    </span>

    <span class="sidebar__label">Primary Label</span>

    <span class="sidebar__chevron" aria-hidden="true">
      <svg class="icon small">
        <use href="assets/icons/sprite.svg#icon-chevron-down"></use>
      </svg>
    </span>
  </button>

  <ul
    id="sidebar-submenu-1"
    class="sidebar__submenu hidden"
    role="group"
    aria-labelledby="sidebar-toggle-1"
  >
    <li class="sidebar__item">
      <a
        href="#"
        class="sidebar__link sidebar__link--active"
        aria-current="page"
      >
        <span class="sidebar__icon" aria-hidden="true">
          <svg class="icon small">
            <use href="assets/icons/sprite.svg#icon-group-filled"></use>
          </svg>
        </span>
        <span class="sidebar__label">Primary Label</span>
      </a>
    </li>
  </ul>

</li>

              </ul>
            </section> 

          </nav>
        </aside>
      </div>
    </div>
        
  </div>

</body>
</html>
