<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gap Spacing Preview</title>
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/main.js"></script>
</head>
<body>
  <div class="container py-56">
    <div class="row">
      <div class="col-sm-7">
         <h1>Spacing Utilities Preview</h1>
        <p class="text-gray-400">
          Spacing tokens are predefined values used to maintain consistent distances between elements such as margins, padding, and gaps, particularly within auto layout settings. 
          They provide a standardised system for spacing, ensuring uniformity and harmony across different components within a design project.
        </p>
      </div>
    </div>
  </div>


  <div class="container py-32">
    
    <div class="row">
      <div class="col-12"> 
          <h2>Gap Utilities</h2> 
      </div>
    </div>
  <!-- ================================================= -->
  <!-- GAP -->
  <!-- ================================================= -->

    <div class="row mb-16">
    <div class="col-12">
      <div class="">
        <h4 class="mb-16">Gap <code class="bg-gray-200 radius-8 py-2 px-6 text-body-md-500">.gap-*</code></h4>
      </div>
    </div>
  </div>

  <div class="row fw-semibold bg-gray-100 mb-20 py-12">
    <div class="col-3">Token Name</div>
    <div class="col-2">Value, rem</div>
    <div class="col-2">Value, px</div>
    <div class="col-2">Class</div>
    <div class="col-3">Spacing Preview</div>
  </div>

  <!-- gap values -->
  <!-- 0 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-0</code>
    </div>
    <div class="col-2">0</div>
    <div class="col-2">0</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-0</code>
    </div>
    <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-0">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 2 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-2</code>
    </div>
    <div class="col-2">0.125</div>
    <div class="col-2">2</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-2</code>
    </div>
    <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-2">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 4 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-4</code>
    </div>
    <div class="col-2">0.25</div>
    <div class="col-2">4</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-4</code>
    </div>
    <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-4">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 6 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-6</code>
    </div>
    <div class="col-2">0.375</div>
    <div class="col-2">6</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-6</code>
    </div>
     <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-6">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 8 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-8</code>
    </div>
    <div class="col-2">0.5</div>
    <div class="col-2">8</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-8</code>
    </div>
     <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-8">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 12 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-12</code>
    </div>
    <div class="col-2">0.75</div>
    <div class="col-2">12</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-12</code>
    </div>
    <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-12">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 16 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-16</code>
    </div>
    <div class="col-2">1</div>
    <div class="col-2">16</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-16</code>
    </div>
     <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-16">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 20 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-20</code>
    </div>
    <div class="col-2">1.25</div>
    <div class="col-2">20</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-20</code>
    </div>
     <div class="col-3">
     <div class="preview-box">
        <div class="d-flex flex-wrap gap-20">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 24 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-24</code>
    </div>
    <div class="col-2">1.5</div>
    <div class="col-2">24</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-24</code>
    </div>
      <div class="col-3">
        <div class="preview-box">
        <div class="d-flex flex-wrap gap-24">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
      </div>
  </div>

  <!-- 32 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-32</code>
    </div>
    <div class="col-2">2</div>
    <div class="col-2">32</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-32</code>
    </div>
    <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-32">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 40 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-40</code>
    </div>
    <div class="col-2">2.5</div>
    <div class="col-2">40</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-40</code>
    </div>
    <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-40">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 48 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-48</code>
    </div>
    <div class="col-2">3</div>
    <div class="col-2">48</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-48</code>
    </div>
    <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-48">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 56 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-56</code>
    </div>
    <div class="col-2">3.5</div>
    <div class="col-2">56</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-56</code>
    </div>
    <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-56">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 64 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-64</code>
    </div>
    <div class="col-2">4</div>
    <div class="col-2">64</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.gap-64</code>
    </div>
    <div class="col-3">
      <div class="preview-box">
        <div class="d-flex flex-wrap gap-64">
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
          <div class="preview-inner w-33"></div>
        </div>
      </div>
    </div>
  </div>


  <!-- ===================== Row Gap ============================ -->
  <div class="row mt-56 mb-16">
    <div class="col-12">
      <div class="">
        <h4 class="mb-16">Row Gap <code class="bg-gray-200 radius-8 py-2 px-6 text-body-md-500">.row-gap-*</code></h4>
      </div>
    </div>
  </div>

  <div class="row fw-semibold bg-gray-100 mb-20 py-12">
    <div class="col-3">Token Name</div>
    <div class="col-2">Value, rem</div>
    <div class="col-2">Value, px</div>
    <div class="col-2">Class</div>
    <div class="col-3">Spacing Preview</div>
  </div>

  <!-- row gap values -->
  <!-- 0 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-0</code>
    </div>
    <div class="col-2">0</div>
    <div class="col-2">0</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-0</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-0">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 2 -->
  <div class="row align-items-center py-8 border-bottom">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-2</code>
    </div>
    <div class="col-2">0.125</div>
    <div class="col-2">2</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-2</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-2">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 4 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-4</code>
    </div>
    <div class="col-2">0.25</div>
    <div class="col-2">4</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-4</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-4">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 6 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-6</code>
    </div>
    <div class="col-2">0.375</div>
    <div class="col-2">6</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-6</code>
    </div>
     <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-6">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 8 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-8</code>
    </div>
    <div class="col-2">0.5</div>
    <div class="col-2">8</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-8</code>
    </div>
     <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-8">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 12 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-12</code>
    </div>
    <div class="col-2">0.75</div>
    <div class="col-2">12</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-12</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-12">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 16 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-16</code>
    </div>
    <div class="col-2">1</div>
    <div class="col-2">16</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-16</code>
    </div>
     <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-16">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 20 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-20</code>
    </div>
    <div class="col-2">1.25</div>
    <div class="col-2">20</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-20</code>
    </div>
     <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-20">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 24 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-24</code>
    </div>
    <div class="col-2">1.5</div>
    <div class="col-2">24</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-24</code>
    </div>
      <div class="col-3">
        <div class="preview-box d-flex flex-column row-gap-24">
          <div class="preview-inner"></div>
          <div class="preview-inner"></div>
        </div>
      </div>
  </div>

  <!-- 32 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-32</code>
    </div>
    <div class="col-2">2</div>
    <div class="col-2">32</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-32</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-32">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 40 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-40</code>
    </div>
    <div class="col-2">2.5</div>
    <div class="col-2">40</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-40</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-40">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 48 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-48</code>
    </div>
    <div class="col-2">3</div>
    <div class="col-2">48</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-48</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-48">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 56 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-56</code>
    </div>
    <div class="col-2">3.5</div>
    <div class="col-2">56</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-56</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-56">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

  <!-- 64 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-64</code>
    </div>
    <div class="col-2">4</div>
    <div class="col-2">64</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.row-gap-64</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex flex-column row-gap-64">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>


  <!-- ===================== Column Gap ============================ -->
  <div class="row mt-56 mb-16">
    <div class="col-12">
      <div class="">
        <h4 class="mb-16">Column Gap <code class="bg-gray-200 radius-8 py-2 px-6 text-body-md-500">.column-gap-*</code></h4>
      </div>
    </div>
  </div>

  <div class="row fw-semibold bg-gray-100 mb-20 py-12">
    <div class="col-3">Token Name</div>
    <div class="col-2">Value, rem</div>
    <div class="col-2">Value, px</div>
    <div class="col-2">Class</div>
    <div class="col-3">Spacing Preview</div>
  </div>
  <!-- column gap values -->
  <!-- 0 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-0</code>
    </div>
    <div class="col-2">0</div>
    <div class="col-2">0</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-0</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex column-gap-0">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-2</code>
    </div>
    <div class="col-2">0.125</div>
    <div class="col-2">2</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-2</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex column-gap-2">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 4 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-4</code>
    </div>
    <div class="col-2">0.25</div>
    <div class="col-2">4</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-4</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex column-gap-4">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 6 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-6</code>
    </div>
    <div class="col-2">0.375</div>
    <div class="col-2">6</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-6</code>
    </div>
     <div class="col-3">
      <div class="preview-box d-flex column-gap-6">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 8 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-8</code>
    </div>
    <div class="col-2">0.5</div>
    <div class="col-2">8</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-8</code>
    </div>
     <div class="col-3">
      <div class="preview-box d-flex column-gap-8">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 12 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-12</code>
    </div>
    <div class="col-2">0.75</div>
    <div class="col-2">12</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-12</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex column-gap-12">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 16 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-16</code>
    </div>
    <div class="col-2">1</div>
    <div class="col-2">16</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-16</code>
    </div>
     <div class="col-3">
      <div class="preview-box d-flex column-gap-16">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 20 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-20</code>
    </div>
    <div class="col-2">1.25</div>
    <div class="col-2">20</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-20</code>
    </div>
     <div class="col-3">
      <div class="preview-box d-flex column-gap-20">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 24 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-24</code>
    </div>
    <div class="col-2">1.5</div>
    <div class="col-2">24</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-24</code>
    </div>
      <div class="col-3">
        <div class="preview-box d-flex column-gap-24">
          <div class="preview-inner"></div>
          <div class="preview-inner"></div>
        </div>
      </div>  
  </div>
  <!-- 32 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-32</code>
    </div>
    <div class="col-2">2</div>
    <div class="col-2">32</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-32</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex column-gap-32">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 40 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-40</code>
    </div>
    <div class="col-2">2.5</div>
    <div class="col-2">40</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-40</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex column-gap-40">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 48 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-48</code>
    </div>
    <div class="col-2">3</div>
    <div class="col-2">48</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-48</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex column-gap-48">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 56 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-56</code>
    </div>
    <div class="col-2">3.5</div>
    <div class="col-2">56</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-56</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex column-gap-56">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>
  <!-- 64 -->
  <div class="row align-items-center py-8">
    <div class="col-3">
      <code class="token-name radius-8 py-2 px-6" tabindex="0">--spacing-64</code>
    </div>
    <div class="col-2">4</div>
    <div class="col-2">64</div>
    <div class="col-2">
      <code class="token-name bg-white radius-8 py-2 px-6" tabindex="0">.column-gap-64</code>
    </div>
    <div class="col-3">
      <div class="preview-box d-flex column-gap-64">
        <div class="preview-inner"></div>
        <div class="preview-inner"></div>
      </div>
    </div>
  </div>

</div>


</body>
</html>
