<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spacing Preview</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
         <h1>Spacing Utilities Preview</h1>
        <p class="text-gray-400">
          Spacing tokens are predefined values used to maintain consistent distances between elements such as margins, padding, and gaps, particularly within auto layout settings. 
          They provide a standardised system for spacing, ensuring uniformity and harmony across different components within a design project.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
          <h2>Gap Utilities</h2>
          <table class="spacing-table">
          <thead>
          <tr>
          <th>Token Name</th>
          <th>Value, rem</th>
          <th>Value, px</th>
          <th>Class Example</th>
          <th>Spacing Preview</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <td><code>--spacing-0</code></td>
          <td>0rem</td>
          <td>0px</td>
          <td><code>.gap-0</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-0"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-2</code></td>
          <td>0.125rem</td>
          <td>2px</td>
          <td><code>.gap-2</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-2"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-4</code></td>
          <td>0.25rem</td>
          <td>4px</td>
          <td><code>.gap-4</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-4"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-6</code></td>
          <td>0.375rem</td>
          <td>6px</td>
          <td><code>.gap-6</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-6"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-8</code></td>
          <td>0.5rem</td>
          <td>8px</td>
          <td><code>.gap-8</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-8"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-12</code></td>
          <td>0.75rem</td>
          <td>12px</td>
          <td><code>.gap-12</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-12"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-16</code></td>
          <td>1rem</td>
          <td>16px</td>
          <td><code>.gap-16</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-16"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-20</code></td>
          <td>1.25rem</td>
          <td>20px</td>
          <td><code>.gap-20</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-20"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-24</code></td>
          <td>1.5rem</td>
          <td>24px</td>
          <td><code>.gap-24</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-24"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-32</code></td>
          <td>2rem</td>
          <td>32px</td>
          <td><code>.gap-32</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-32"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-40</code></td>
          <td>2.5rem</td>
          <td>40px</td>
          <td><code>.gap-40</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-40"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-48</code></td>
          <td>3rem</td>
          <td>48px</td>
          <td><code>.gap-48</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-48"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-56</code></td>
          <td>3.5rem</td>
          <td>56px</td>
          <td><code>.gap-56</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-56"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-64</code></td>
          <td>4rem</td>
          <td>64px</td>
          <td><code>.gap-64</code></td>
          <td><div class="preview-box"><div class="preview-inner gap-64"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-0</code></td>
          <td>0rem</td>
          <td>0px</td>
          <td><code>.row-gap-0</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-0"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-2</code></td>
          <td>0.125rem</td>
          <td>2px</td>
          <td><code>.row-gap-2</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-2"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-4</code></td>
          <td>0.25rem</td>
          <td>4px</td>
          <td><code>.row-gap-4</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-4"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-6</code></td>
          <td>0.375rem</td>
          <td>6px</td>
          <td><code>.row-gap-6</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-6"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-8</code></td>
          <td>0.5rem</td>
          <td>8px</td>
          <td><code>.row-gap-8</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-8"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-12</code></td>
          <td>0.75rem</td>
          <td>12px</td>
          <td><code>.row-gap-12</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-12"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-16</code></td>
          <td>1rem</td>
          <td>16px</td>
          <td><code>.row-gap-16</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-16"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-20</code></td>
          <td>1.25rem</td>
          <td>20px</td>
          <td><code>.row-gap-20</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-20"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-24</code></td>
          <td>1.5rem</td>
          <td>24px</td>
          <td><code>.row-gap-24</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-24"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-32</code></td>
          <td>2rem</td>
          <td>32px</td>
          <td><code>.row-gap-32</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-32"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-40</code></td>
          <td>2.5rem</td>
          <td>40px</td>
          <td><code>.row-gap-40</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-40"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-48</code></td>
          <td>3rem</td>
          <td>48px</td>
          <td><code>.row-gap-48</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-48"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-56</code></td>
          <td>3.5rem</td>
          <td>56px</td>
          <td><code>.row-gap-56</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-56"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-64</code></td>
          <td>4rem</td>
          <td>64px</td>
          <td><code>.row-gap-64</code></td>
          <td><div class="preview-box"><div class="preview-inner row-gap-64"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-0</code></td>
          <td>0rem</td>
          <td>0px</td>
          <td><code>.column-gap-0</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-0"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-2</code></td>
          <td>0.125rem</td>
          <td>2px</td>
          <td><code>.column-gap-2</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-2"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-4</code></td>
          <td>0.25rem</td>
          <td>4px</td>
          <td><code>.column-gap-4</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-4"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-6</code></td>
          <td>0.375rem</td>
          <td>6px</td>
          <td><code>.column-gap-6</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-6"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-8</code></td>
          <td>0.5rem</td>
          <td>8px</td>
          <td><code>.column-gap-8</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-8"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-12</code></td>
          <td>0.75rem</td>
          <td>12px</td>
          <td><code>.column-gap-12</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-12"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-16</code></td>
          <td>1rem</td>
          <td>16px</td>
          <td><code>.column-gap-16</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-16"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-20</code></td>
          <td>1.25rem</td>
          <td>20px</td>
          <td><code>.column-gap-20</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-20"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-24</code></td>
          <td>1.5rem</td>
          <td>24px</td>
          <td><code>.column-gap-24</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-24"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-32</code></td>
          <td>2rem</td>
          <td>32px</td>
          <td><code>.column-gap-32</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-32"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-40</code></td>
          <td>2.5rem</td>
          <td>40px</td>
          <td><code>.column-gap-40</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-40"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-48</code></td>
          <td>3rem</td>
          <td>48px</td>
          <td><code>.column-gap-48</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-48"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-56</code></td>
          <td>3.5rem</td>
          <td>56px</td>
          <td><code>.column-gap-56</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-56"></div></div></td>
          </tr>
          <tr>
          <td><code>--spacing-64</code></td>
          <td>4rem</td>
          <td>64px</td>
          <td><code>.column-gap-64</code></td>
          <td><div class="preview-box"><div class="preview-inner column-gap-64"></div></div></td>
          </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div>

</body>
</html>
