<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spinner Preview</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<style>
  .spinner-demo {
      display: flex; 
      align-items: center;
      gap: 0.5rem;
      font-size: 0.875rem;
    }
</style>
<body>
  <div class="container py-56">
    <div class="row">
      <div class="col-sm-7">
        <h1>Spinner</h1>
        <p class="text-gray-400">
          A spinner component is a visual element used to indicate that a process is ongoing, such as loading content or performing an action in the background. It typically takes the form of a circular or rotating graphic, often accompanied by a subtle animation to suggest motion and progress.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Sizes</h2>  
        </div>
      </div>
    </div>  
    <div class="row">
      <div class="col-3">
        <div class="spinner-demo">
          <div class="spinner spinner--extra-small spinner--brand"></div>
          extra-small
        </div>
      </div>
      <div class="col-3">
        <div class="spinner-demo">
          <div class="spinner spinner--small spinner--brand"></div>
          extra-small
        </div>
      </div>
      <div class="col-3">
        <div class="spinner-demo">
          <div class="spinner spinner--medium spinner--brand"></div>
          extra-small
        </div>
      </div>
      <div class="col-3">
        <div class="spinner-demo">
          <div class="spinner spinner--large spinner--brand"></div>
          extra-small
        </div>
      </div>
    </div>

    <!-- Styles -->
     <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Styles</h2>  
        </div>
      </div>
    </div>  
     <div class="row">
      <div class="col-3">
        <div class="spinner-demo mb-32">
          <div class="spinner spinner--extra-small spinner--brand"></div>
          extra-small
        </div>
        <div class="spinner-demo mb-32">
          <div class="spinner spinner--extra-small spinner--dark"></div>
          extra-small
        </div>
        <div class="spinner-demo mb-32">
          <div class="dark-mode bg-black p-4 radius-4 d-flex">
            <div class="spinner spinner--extra-small spinner--light"></div>
          </div>
          extra-small
        </div>
        <div class="spinner-demo mb-32">
          <div class="dark-mode bg-blue-sky-600 p-4 radius-4 d-flex">
            <div class="spinner spinner--extra-small spinner--light-on-color"></div>
          </div>
          extra-small
        </div>
      </div>
      <div class="col-3">
        <div class="spinner-demo mb-32">
          <div class="spinner spinner--small spinner--brand"></div>
          small
        </div>
        <div class="spinner-demo mb-32">
          <div class="spinner spinner--small spinner--dark"></div>
          small
        </div>
        <div class="spinner-demo mb-32">
          <div class="dark-mode bg-black p-4 radius-4 d-flex">
            <div class="spinner spinner--small spinner--light"></div>
          </div>
          small
        </div>
        <div class="spinner-demo mb-32">
          <div class="dark-mode bg-blue-sky-600 p-4 radius-4 d-flex">
            <div class="spinner spinner--small spinner--light-on-color"></div>
          </div>
          small
        </div>
      </div>
      <div class="col-3">
        <div class="spinner-demo mb-32">
          <div class="spinner spinner--medium spinner--brand"></div>
          medium
        </div>
        <div class="spinner-demo mb-32">
          <div class="spinner spinner--medium spinner--dark"></div>
          medium
        </div>
        <div class="spinner-demo mb-32">
          <div class="dark-mode bg-black p-4 radius-4 d-flex">
            <div class="spinner spinner--medium spinner--light"></div>
          </div>
          medium
        </div>
        <div class="spinner-demo mb-32">
          <div class="dark-mode bg-blue-sky-600 p-4 radius-4 d-flex">
            <div class="spinner spinner--medium spinner--light-on-color"></div>
          </div>
          medium
        </div>
      </div>
      <div class="col-3">
        <div class="spinner-demo mb-32">
          <div class="spinner spinner--large spinner--brand"></div>
          large
        </div>
        <div class="spinner-demo mb-32">
          <div class="spinner spinner--large spinner--dark"></div>
          large
        </div>
        <div class="spinner-demo mb-32">
          <div class="dark-mode bg-black p-4 radius-4 d-flex">
            <div class="spinner spinner--large spinner--light"></div>
          </div>
          large
        </div>
        <div class="spinner-demo mb-32">
          <div class="dark-mode bg-blue-sky-600 p-4 radius-4 d-flex">
            <div class="spinner spinner--large spinner--light-on-color"></div>
          </div>
          large
        </div>
      </div>
    </div> 
  </div> 
</body>
</html>
