<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spacing Preview Widths</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
         <h1>Switch</h1>
        <p class="text-gray-400">
          The role of a radio button is to provide users with a selection mechanism for mutually exclusive options within a set. Radio buttons typically allow users to choose one option from a predefined list, conveying clarity and ease of interaction.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Sizes</h2> 
        </div>
      </div>
    </div>
    <div class="row"> 
        <div class="col-3">
          <div class="switch switch--large">
            <label class="switch-wrapper">
              <input type="checkbox" class="switch-input" checked>
              <div class="switch-track">
                <div class="switch-thumb"></div>
              </div>
              <div class="switch-text">
                <span class="switch-label">Large</span>
                <span class="switch-description">Activează notificările sonore</span>
              </div>
            </label>
          </div>
       </div>
       <div class="col-3">
        <div class="switch ">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" checked>
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Default</span>
              <span class="switch-description">Activează notificările sonore</span>
            </div>
          </label>
        </div>
       </div>
       <div class="col-3">
        <div class="switch switch--medium">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" checked>
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Medium</span>
              <span class="switch-description">Activează notificările sonore</span>
            </div>
          </label>
        </div>
       </div>
       <div class="col-3">
        <div class="switch switch--small">
            <label class="switch-wrapper">
              <input type="checkbox" class="switch-input" checked>
              <div class="switch-track">
                <div class="switch-thumb"></div>
              </div>
              <div class="switch-text">
                <span class="switch-label">Small</span>
                <span class="switch-description">Activează notificările sonore</span>
              </div>
            </label>
          </div>
       </div>
    </div>

    <!-- States -->
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>States</h2> 
        </div>
      </div>
    </div>
    <!-- Large-->
    <div class="row">
      <div class="col-2">
        <div class="switch switch--large">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input">
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Large</span>
              <span class="switch-description">off</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--large">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input">
            <div class="switch-track" style="outline: 2px solid var(--blue-600, #2563EB); outline-offset: 2px;">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Large</span>
              <span class="switch-description">focus</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--large">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" checked>
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Large</span>
              <span class="switch-description">on</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--large">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" checked>
            <div class="switch-track" style="outline: 2px solid var(--blue-600, #2563EB); outline-offset: 2px;">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Large</span>
              <span class="switch-description">on focus</span>
            </div>
          </label>
        </div>
      </div> 
      <div class="col-2">
        <div class="switch switch--large">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input"  disabled>
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Large</span>
              <span class="switch-description">disabled</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--large switch--error">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" style="border: 1px solid var(--red-600, #D92D20);">
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Large</span>
              <span class="switch-description">error</span>
            </div>
          </label>
        </div>
      </div>
    </div>

    <!-- Default-->
    <div class="row mt-56">
      <div class="col-2">
        <div class="switch">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input">
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">default</span>
              <span class="switch-description">off</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input">
            <div class="switch-track" style="outline: 2px solid var(--blue-600, #2563EB); outline-offset: 2px;">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">default</span>
              <span class="switch-description">focus</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" checked>
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">default</span>
              <span class="switch-description">on</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" checked>
            <div class="switch-track" style="outline: 2px solid var(--blue-600, #2563EB); outline-offset: 2px;">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">default</span>
              <span class="switch-description">on focus</span>
            </div>
          </label>
        </div>
      </div> 
      <div class="col-2">
        <div class="switch">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input"  disabled>
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">default</span>
              <span class="switch-description">disabled</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--error">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" style="border: 1px solid var(--red-600, #D92D20);">
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">default</span>
              <span class="switch-description">error</span>
            </div>
          </label>
        </div>
      </div>
    </div>

    <!-- Medium-->
    <div class="row mt-56">
      <div class="col-2">
        <div class="switch switch--medium">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input">
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Medium</span>
              <span class="switch-description">off</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--medium">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input">
            <div class="switch-track" style="outline: 2px solid var(--blue-600, #2563EB); outline-offset: 2px;">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Medium</span>
              <span class="switch-description">focus</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--medium">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" checked>
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Medium</span>
              <span class="switch-description">on</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--medium">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" checked>
            <div class="switch-track" style="outline: 2px solid var(--blue-600, #2563EB); outline-offset: 2px;">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Medium</span>
              <span class="switch-description">on focus</span>
            </div>
          </label>
        </div>
      </div> 
      <div class="col-2">
        <div class="switch switch--medium">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input"  disabled>
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Medium</span>
              <span class="switch-description">disabled</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--medium switch--error">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" style="border: 1px solid var(--red-600, #D92D20);">
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Medium</span>
              <span class="switch-description">error</span>
            </div>
          </label>
        </div>
      </div>
    </div>

    <!-- Small-->
    <div class="row mt-56">
      <div class="col-2">
        <div class="switch switch--small">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input">
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Small</span>
              <span class="switch-description">off</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--small">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input">
            <div class="switch-track" style="outline: 2px solid var(--blue-600, #2563EB); outline-offset: 2px;">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Small</span>
              <span class="switch-description">focus</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--small">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" checked>
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Small</span>
              <span class="switch-description">on</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--small">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" checked>
            <div class="switch-track" style="outline: 2px solid var(--blue-600, #2563EB); outline-offset: 2px;">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Small</span>
              <span class="switch-description">on focus</span>
            </div>
          </label>
        </div>
      </div> 
      <div class="col-2">
        <div class="switch switch--small">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input"  disabled>
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Small</span>
              <span class="switch-description">disabled</span>
            </div>
          </label>
        </div>
      </div>
      <div class="col-2">
        <div class="switch switch--small switch--error">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" style="border: 1px solid var(--red-600, #D92D20);">
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Small</span>
              <span class="switch-description">error</span>
            </div>
          </label>
        </div>
      </div>
    </div>

    <!-- Target Sizes -->
    <div class="row mt-56">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Target Sizes</h2> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="switch switch--large">
          <label class="switch-wrapper">
            <input type="checkbox" class="switch-input" checked>
            <div class="switch-track">
              <div class="switch-thumb"></div>
            </div>
            <div class="switch-text">
              <span class="switch-label">Large</span>
              <span class="switch-description">Target Size 32x64</span>
            </div>
          </label>
        </div>
      </div>
    </div>
</div>
 
</body>
</html>
