<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tags Preview</title>
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/main.js" defer></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
         <h1>Tags</h1>
        <p class="text-gray-400">
          Tag components are used to categorize or label content within a user interface. They are commonly employed to organize information, highlight key attributes, serve as visual indicators that help users quickly identify categories associated with the content.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-7"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Status Tags</h2> 
          <p  class="text-gray-400">The status tag component is a label used to display the current status of an item, such as "Active," "Pending," or "Completed." It visually distinguishes states with varying colors and styles, helping users quickly identify key information at a glance.</p>
        </div>
      </div>
    </div>
    <div class="row">  
      <div class="col-12"> 
        <h3>Variants</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--muted is-subtle">Label</div>
          <div class="text-body-sm-500 text-gray-700">muted subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--muted is-strong">Label</div>
          <div class="text-body-sm-500 text-gray-700">muted strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--muted is-outlined">Label</div>
          <div class="text-body-sm-500 text-gray-700">muted outlined</div>
        </div>
      </div>
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--neutral is-subtle">Label</div>
          <div class="text-body-sm-500 text-gray-700">neutral subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--neutral is-strong">Label</div>
          <div class="text-body-sm-500 text-gray-700">neutral strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--neutral is-outlined">Label</div>
          <div class="text-body-sm-500 text-gray-700">neutral outlined</div>
        </div>
      </div>
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--accent is-subtle">Label</div>
          <div class="text-body-sm-500 text-gray-700">accent subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--accent is-strong">Label</div>
          <div class="text-body-sm-500 text-gray-700">accent strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--accent is-outlined">Label</div>
          <div class="text-body-sm-500 text-gray-700">accent outlined</div>
        </div>
      </div>
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--success is-subtle">Label</div>
          <div class="text-body-sm-500 text-gray-700">success subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--success is-strong">Label</div>
          <div class="text-body-sm-500 text-gray-700">success strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--success is-outlined">Label</div>
          <div class="text-body-sm-500 text-gray-700">success outlined</div>
        </div>
      </div>
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--brand is-subtle">Label</div>
          <div class="text-body-sm-500 text-gray-700">brand subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--brand is-strong">Label</div>
          <div class="text-body-sm-500 text-gray-700">brand strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--brand is-outlined">Label</div>
          <div class="text-body-sm-500 text-gray-700">brand outlined</div>
        </div>
      </div>
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--danger is-subtle">Label</div>
          <div class="text-body-sm-500 text-gray-700">danger subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--danger is-strong">Label</div>
          <div class="text-body-sm-500 text-gray-700">danger strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--danger is-outlined">Label</div>
          <div class="text-body-sm-500 text-gray-700">danger outlined</div>
        </div>
      </div> 
    </div>

    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Icon-leading</h2> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--muted is-subtle">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">muted subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--muted is-strong">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">muted strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--muted is-outlined">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">muted outlined</div>
        </div>
      </div>
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--neutral is-subtle">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">neutral subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--neutral is-strong">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">neutral strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--neutral is-outlined">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">neutral outlined</div>
        </div>
      </div>
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--accent is-subtle">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">accent subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--accent is-strong">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">accent strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--accent is-outlined">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">accent outlined</div>
        </div>
      </div>
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--success is-subtle">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">success subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--success is-strong">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">success strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--success is-outlined">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">success outlined</div>
        </div>
      </div>
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--brand is-subtle">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">brand subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--brand is-strong">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">brand strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--brand is-outlined">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">brand outlined</div>
        </div>
      </div>
      <div class="col-2">
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--danger is-subtle">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">danger subtle</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--danger is-strong">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">danger strong</div>
        </div>
        <div class="tag-item mb-32">
          <div class="status-tag status-tag--danger is-outlined">
            <span class="d-inline-flex">
              <svg class="icon small" aria-hidden="true"> 
                <use href="assets/icons/sprite.svg#icon-checkmark-small"></use> 
              </svg>
            </span>
            Label
          </div>
          <div class="text-body-sm-500 text-gray-700">danger outlined</div>
        </div>
      </div> 
    </div>
  </div>
</body>
</html>
