<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Tooltip Component Demo</title>

  <link rel="stylesheet" href="css/main.css" />
  <script src="js/tooltip.js" defer></script>
  
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>

  <script src="js/include-header.js" defer></script>
  <script src="js/include-footer.js" defer></script>
  <script src="js/toggler.js" defer></script>
  <script src="js/modal.js" defer></script>
  <script src="js/mega-nav.js" defer></script>
  <script src="js/search.js" defer></script>
  <script src="js/dropdown.js" defer></script>
</head>

<body>
  <div id="site-header"></div>

<div class="mud-container mud-mt-56">
  
      <div class="mud-row">
        <div class="mud-col-sm-7">
            <h1>Tooltip</h1>
            <p class="mud-text-gray-400">
              The tooltip component provides brief, contextual information. 
              Its purpose is to offer additional clarification, instructions, or descriptions without cluttering the interface.
            </p>
        </div>
    </div>

    
    <div class="mud-row">
      <div class="mud-col-12 mud-mt-56 mud-mb-32 mud-border-bottom-1 mud-border-bottom-solid mud-border-gray-200">
          <h2>Sizes</h2>
      </div>
    </div>
    <div class="mud-row">
      <div class="mud-col-12 mud-col-md-6">
        <div class="mud-mb-32">
          <p class="mud-mb-12">large</p>
            <button
              class="mud-btn mud-btn-primary"
              data-tooltip="Tooltip displayed above the element."
              data-placement="top"
              data-size="large"
              >
              Hover me (Top)
            </button>
        </div>
      </div>

      <div class="mud-col-12 mud-col-md-6">
        <div class="mud-mb-32">
          <p class="mud-mb-12">small</p>
            <button
              class="mud-btn mud-btn-primary"
              data-tooltip="Tooltip small."
              data-placement="top"
              data-size="small"
              >
              Hover me (Top)
            </button>
        </div>
      </div>
    </div>

  
   <div class="mud-row">
      <div class="mud-col-12 mud-mt-56 mud-mb-32 mud-border-bottom-1 mud-border-bottom-solid mud-border-gray-200">
          <h2>Variants</h2>
      </div>
    </div>
    <div class="mud-row">
      <div class="mud-col-12 mud-col-sm-6 mud-col-lg-3">
        <div class="mud-mb-32">
          <p class="mud-mb-12">tooltip: top</p>
            <button
              class="mud-btn mud-btn-primary"
              data-tooltip="Tooltip displayed above the element."
              data-placement="top">
              Hover me (Top)
            </button>
        </div>
      </div>
      <div class="mud-col-12 mud-col-sm-6 mud-col-lg-3">
        <div class="mud-mb-32">
          <p class="mud-mb-12">tooltip: bottom</p>
            <button
              class="mud-btn mud-btn-primary"
              data-tooltip="Tooltip displayed above the element."
              data-placement="bottom">
              Hover me (Bottom)
            </button>
        </div>
      </div>
      <div class="mud-col-12 mud-col-sm-6 mud-col-lg-3">
        <div class="mud-mb-32">
          <p class="mud-mb-12">tooltip: left</p>
            <button
              class="mud-btn mud-btn-primary"
              data-tooltip="Tooltip displayed above the element."
              data-placement="left">
              Hover me (Left)
            </button>
        </div>
      </div>
      <div class="mud-col-12 mud-col-sm-6 mud-col-lg-3">
        <div class="mud-mb-32">
          <p class="mud-mb-12">tooltip: right</p>
            <button
              class="mud-btn mud-btn-primary"
              data-tooltip="Tooltip displayed above the element."
              data-placement="right">
              Hover me (Right)
            </button>
        </div>
      </div>
    </div>

    
    <div class="mud-row">
      <div class="mud-col-12 mud-mt-56 mud-mb-32 mud-border-bottom-1 mud-border-bottom-solid mud-border-gray-200">
          <h2>Positions</h2>
          <p>
            The arrow may shift from bottom to top and to the left, middle or right side depending on the location of the related elements.
          </p>
      </div>
    </div>
    
    <div class="mud-row mud-mb-8">
      <div class="mud-col-12">
        <h4>Top positions</h4>
      </div>
    </div>
    <div class="mud-row mud-mb-48">
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">top: left</div>
        <button class="mud-btn mud-btn-primary"
              data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
              data-placement="top-left">
            Top Left
          </button>
      </div>
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">top: center</div>
        <button class="mud-btn mud-btn-primary"
              data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
              data-placement="top-center">
            Top Center
          </button>
          </div>
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">top: right</div>
        <button class="mud-btn mud-btn-primary"
              data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
              data-placement="top-right">
            Top Right
          </button>
          </div>

    </div>

    
    <div class="mud-row mud-mb-8">
      <div class="mud-col-12">
        <h4>Bottom positions</h4>
      </div>
    </div>
    <div class="mud-row mud-mb-48">
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">bottom: left</div>
        <button class="mud-btn mud-btn-primary"
              data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
              data-placement="bottom-left">
            Bottom Left
          </button>
      </div>
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">bottom: center</div>
        <button class="mud-btn mud-btn-primary"
              data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
              data-placement="bottom-center">
            Bottom Center
          </button>
          </div>
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">bottom: right</div>
        <button class="mud-btn mud-btn-primary"
              data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
              data-placement="bottom-right">
            Bottom Right
          </button>
          </div>

    </div>

    
    <div class="mud-row mud-mb-8">
      <div class="mud-col-12">
        <h4>Left positions</h4>
      </div>
    </div>
    <div class="mud-row mud-mb-48">
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">left: top</div>
        <button class="mud-btn mud-btn-primary"
              data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
              data-placement="left-top">
            Left Top
          </button>
      </div>
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">left: center</div>
        <button class="mud-btn mud-btn-primary"
              data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
              data-placement="left-center">
            Left Center
          </button>
        </div>
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">left: right</div>
        <button class="mud-btn mud-btn-primary"
              data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
              data-placement="left-bottom">
            Left Bottom
          </button>
        </div> 
    </div>

    
    <div class="mud-row mud-mb-8">
      <div class="mud-col-12">
        <h4>Right positions</h4>
      </div>
    </div>
    <div class="mud-row mud-mb-48">
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">right: top</div>
        <button class="mud-btn mud-btn-primary"
            data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
            data-placement="right-top">
          Right Top
        </button>
      </div>
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">right: center</div>
        <button class="mud-btn mud-btn-primary"
            data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
            data-placement="right-center">
          Right Center
        </button>
      </div>
      <div class="mud-col-12 mud-col-md-3">
        <div class="mud-mb-12">right: right</div>
        <button class="mud-btn mud-btn-primary"
              data-tooltip="Moldova’s digital evolution is at the heart of seamless public service delivery."
              data-placement="right-bottom">
            Right Bottom
        </button>
      </div> 
    </div>

        
  <div class="mud-row">
    <div class="mud-col-12 mud-mt-56 mud-mb-32 mud-border-bottom-1 mud-border-bottom-solid mud-border-gray-200">
        <h4>Appearance and Dismissal</h4>
    </div>
  </div>
  <div class="mud-row mud-mt-48">
    <div class="mud-col-12">
      <p class="mud-text-gray-500 mud-mb-8">Tooltip on text / icon</p>

      <button
        class="mud-btn mud-btn-primary mud-btn-sm mud-p-4 text-link"
        type="button"
        aria-label="Information tooltip trigger"
        data-tooltip="This is an informational tooltip attached to inline content."
        data-placement="top">
        <span class="mud-inline-flex">
                  <svg class="icon small" aria-hidden="true"> 
                    <use href="assets/icons/sprite.svg#icon-circle-error"></use> 
                  </svg>
                </span>
      </button>

      &nbsp;&nbsp;

      <span
        class="icon-info"
        data-tooltip="This is an icon tooltip."
        data-placement="top">
        ℹ️
      </span>
    </div>
  </div>

  <div class="mud-my-48">
    <div class="mud-col-12">
      <button
        class="mud-btn mud-btn-primary"
        data-tooltip="Account saved successfully!"
        data-placement="top-center"
        data-size="large"
        data-close="true"
      >
        Hover me
      </button>

    </div>
  </div>
  </div> 

  <div id="site-footer"></div>
</body>
</html>

