<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Typography Preview</title>
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/main.js" defer></script>
</head>
<body>
  <div class="container pt-56">
    <div class="row">
      <div class="col-sm-7">
         <h1>Typography Desktop</h1>
        <p class="text-gray-400">
          Typography tokens are predefined values used to maintain consistent text styles across different components within a design project. 
          They provide a standardised system for typography, ensuring uniformity and harmony in font sizes, weights, line heights, and letter spacing.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Display</h2> 
        </div> 
      </div>
    </div>
  </div>
  <div class="container-fluid py-56 typography-table">

 
    <div class="row fw-semibold bg-gray-100 mb-20 py-12" style="position: sticky; top: 0; z-index: 1;">
      <div class="col-2">
        <div>text-style</div>
      </div>
      <div class="col-2">
        <div>token-name</div>
      </div>
      <div class="col-2">
        <div>value</div>
      </div>
      <div class="col-2">
        <div>class</div>
      </div>
      <div class="col-4">
        <div>text-preview</div>
      </div>
    </div>
 
    <div class="row py-12 border-bottom">
      <div class="col-2">Display Hero Large</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-display-lg-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 56px;<br>
        font-style: normal;<br>
        font-weight: 600;<br>
        line-height: 140%;<br>
        letter-spacing: -2%;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-display-lg</code></div>
      <div class="col-4">
        <span class="text-preview text-display-lg">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

    <div class="row py-12 border-bottom">
      <div class="col-2">Display Hero Medium</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-display-md-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 48px;<br>
        font-style: normal;<br>
        font-weight: 600;<br>
        line-height: 140%;<br>
        letter-spacing: -2%;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-display-md</code></div>
      <div class="col-4">
        <span class="text-preview text-display-md">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

 
    <div class="row mt-32">
      <div class="col-12 mb-16">
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>
            Headings
          </h2> 
        </div>
      </div>
     </div>
    <div class="row py-12 border-bottom">
      <div class="col-2">Heading 1 Large</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-heading-h1-lg-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 40px;<br>
        font-style: normal;<br>
        font-weight: 600;<br>
        line-height: 130%;<br>
        letter-spacing: -1%;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-heading-h1-lg</code></div>
      <div class="col-4">
        <span class="text-preview text-heading-h1-lg">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

    <div class="row py-12 border-bottom">
      <div class="col-2">Heading 2 Medium</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-heading-h2-md-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 32px;<br>
        font-style: normal;<br>
        font-weight: 600;<br>
        line-height: 130%;<br>
        letter-spacing: -1%;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-heading-h2-md</code></div>
      <div class="col-4">
        <span class="text-preview text-heading-h2-md">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

    <div class="row py-12 border-bottom">
      <div class="col-2">Heading 3 Small</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-heading-h3-sm-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 28px;<br>
        font-style: normal;<br>
        font-weight: 600;<br>
        line-height: 130%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-heading-h3-sm</code></div>
      <div class="col-4">
        <span class="text-preview text-heading-h3-sm">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

    <div class="row py-12 border-bottom">
      <div class="col-2">Heading 4 Extra Small</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-heading-h4-xs-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 24px;<br>
        font-style: normal;<br>
        font-weight: 600;<br>
        line-height: 120%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-heading-h4-xs</code></div>
      <div class="col-4">
        <span class="text-preview text-heading-h4-xs">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

    <div class="row py-12 border-bottom">
      <div class="col-2">Heading 5 2xs</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-heading-h5-2xs-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 20px;<br>
        font-style: normal;<br>
        font-weight: 600;<br>
        line-height: 120%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-heading-h5-2xs</code></div>
      <div class="col-4">
        <span class="text-preview text-heading-h5-2xs">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

 
    <div class="row mt-32">
      <div class="col-12">
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>
            Body
          </h2>
        </div>
      </div>
     </div>
    <div class="row py-12 border-bottom">
      <div class="col-2">Body Large</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-body-lg-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 18px;<br>
        font-style: normal;<br>
        font-weight: 400;<br>
        line-height: 150%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-body-lg</code></div>
      <div class="col-4">
        <span class="text-preview text-body-lg">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

    <div class="row py-12 border-bottom">
      <div class="col-2">Body Large 500</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-body-lg-500-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 18px;<br>
        font-style: normal;<br>
        font-weight: 500;<br>
        line-height: 150%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-body-lg-500</code></div>
      <div class="col-4">
        <span class="text-preview text-body-lg-500">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

    <div class="row py-12 border-bottom">
      <div class="col-2">Body Medium</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-body-md-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 16px;<br>
        font-style: normal;<br>
        font-weight: 400;<br>
        line-height: 150%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-body-md</code></div>
      <div class="col-4">
        <span class="text-preview text-body-md">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

    <div class="row py-12 border-bottom">
      <div class="col-2">Body Medium 500</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-body-md-500-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 16px;<br>
        font-style: normal;<br>
        font-weight: 500;<br>
        line-height: 150%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-body-md-500</code></div>
      <div class="col-4">
        <span class="text-preview text-body-md-500">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

    <div class="row py-12 border-bottom">
      <div class="col-2">Body Small</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-body-sm-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 14px;<br>
        font-style: normal;<br>
        font-weight: 400;<br>
        line-height: 150%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-body-sm</code></div>
      <div class="col-4">
        <span class="text-preview text-body-sm">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

    <div class="row py-12 border-bottom">
      <div class="col-2">Body Small 500</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-body-sm-500-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 14px;<br>
        font-style: normal;<br>
        font-weight: 500;<br>
        line-height: 150%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-body-sm-500</code></div>
      <div class="col-4">
        <span class="text-preview text-body-sm-500">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>
 
     <div class="row mt-32">
      <div class="col-12">
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>
            Caption
          </h2>
        </div>
      </div>
    </div>
    <div class="row py-12 border-bottom">
      <div class="col-2">Caption Medium</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-caption-md-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 12px;<br>
        font-style: normal;<br>
        font-weight: 400;<br>
        line-height: 130%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-caption-md</code></div>
      <div class="col-4">
        <span class="text-preview text-caption-md">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div>

    <div class="row py-12">
      <div class="col-2">Caption Medium 500</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-caption-md-500-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 12px;<br>
        font-style: normal;<br>
        font-weight: 500;<br>
        line-height: 130%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-caption-md-500</code></div>
      <div class="col-4">
        <span class="text-preview text-caption-md-500">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div> 

    <div class="row py-12">
      <div class="col-2">Caption Small</div>
      <div class="col-2">
        <code class="bg-gray-200 radius-8 py-2 px-6 d-inline-block token-name">
          --text-caption-sm-font-size
        </code>
      </div>
      <div class="col-2 text-body-sm">
        font-family: Onest;<br>
        font-size: 10px;<br>
        font-style: normal;<br>
        font-weight: 400;<br>
        line-height: 130%;<br>
        letter-spacing: 0;
      </div>
      <div class="col-2"><code class="token-name bg-white">.text-caption-sm</code></div>
      <div class="col-4">
        <span class="text-preview text-caption-sm">
          Building a More Accessible and Efficient Web
        </span>
      </div>
    </div> 
  </div>

</body>
</html>
