<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typography Desktop — Design System</title>
    <script src="js/include-head-assets.js"></script>
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/include-header.js" defer></script>
    <script src="js/include-footer.js" defer></script>
    <script src="js/toggler.js" defer></script>
    <script src="js/modal.js" defer></script>
    <script src="js/mega-nav.js" defer></script>
    <script src="js/search.js" defer></script>
    <script src="js/dropdown.js" defer></script>
    <script src="js/copy-token.js" defer></script>
  </head>
  <body>
    <div id="site-header"></div>

    <div class="mud-container" data-doc="typography">
      <div class="mud-row mud-mb-40">
        <div class="mud-col-8">
          <h1 class="mud-desktop-display-xl mud-mb-24">Typography Desktop</h1>
          <p class="mud-text-gray-400 mud-desktop-body-xl">
            The text styles encompass a set of predefined typefaces, font sizes,
            weights, line heights, and other typographic properties. These
            styles are curated to establish a consistent visual hierarchy,
            readability across various UI elements and content types.
          </p>
        </div>
      </div>
      <div class="mud-doc-main">
        <div class="mud-row">
          <div class="mud-col-12">
            <section aria-labelledby="display-heading">
              <div class="mud-doc-section-head">
                <h2 class="mud-desktop-heading-sm" id="display-heading">
                  Display
                </h2>
              </div>
              <div class="typo-table">
                <div
                  class="typo-table__head font-mono mud-desktop-body-md-500 mud-text-gray-400"
                >
                  <span>text-style</span><span>token-name</span
                  ><span>value</span><span>text-preview</span>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Display Hero Large</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-display-lg</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">56px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">600</span>; line-height:
                    <span class="v">140%</span>; letter-spacing:
                    <span class="v">-2%</span>;
                  </p>
                  <p class="mud-desktop-display-lg">
                    Building a More Accessible and Efficient Digital Government
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Display Hero Medium</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-display-md</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">48px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">600</span>; line-height:
                    <span class="v">140%</span>; letter-spacing:
                    <span class="v">-2%</span>;
                  </p>
                  <p class="mud-desktop-display-md">
                    Building a More Accessible and Efficient Digital Government
                  </p>
                </div>
              </div>
            </section>

            <section aria-labelledby="headings-heading">
              <div class="mud-doc-section-head">
                <h2 class="mud-desktop-heading-sm" id="headings-heading">
                  Headings
                </h2>
              </div>
              <div class="typo-table">
                <div
                  class="typo-table__head font-mono mud-desktop-body-md-500 mud-text-gray-400"
                >
                  <span>text-style</span><span>token-name</span
                  ><span>value</span><span>text-preview</span>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Heading Large</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-heading-lg</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">40px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">600</span>; line-height:
                    <span class="v">150%</span>; letter-spacing:
                    <span class="v">-2%</span>;
                  </p>
                  <p class="mud-desktop-heading-lg">
                    Building a More Accessible and Efficient Digital Government
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Heading Medium</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-heading-md</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">32px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">600</span>; line-height:
                    <span class="v">150%</span>; letter-spacing:
                    <span class="v">-2%</span>;
                  </p>
                  <p class="mud-desktop-heading-md">
                    Building a More Accessible and Efficient Digital Government
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Heading Small</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-heading-sm</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">24px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">600</span>; line-height:
                    <span class="v">32px</span>; letter-spacing:
                    <span class="v">-0.24px</span>;
                  </p>
                  <p class="mud-desktop-heading-sm">
                    Building a More Accessible and Efficient Digital Government
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Heading Extra Small</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-heading-xs</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">20px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">600</span>; line-height:
                    <span class="v">150%</span>; letter-spacing:
                    <span class="v">-1%</span>;
                  </p>
                  <p class="mud-desktop-heading-xs">
                    Building a More Accessible and Efficient Digital Government
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Heading Extra-Extra Small</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">
                      --mud-desktop-heading-2xs
                    </button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">18px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">600</span>; line-height:
                    <span class="v">150%</span>; letter-spacing:
                    <span class="v">-1%</span>;
                  </p>
                  <p class="mud-desktop-heading-xxs">
                    Building a More Accessible and Efficient Digital Government
                  </p>
                </div>
              </div>
            </section>

            <section aria-labelledby="body-heading">
              <div class="mud-doc-section-head">
                <h2 class="mud-desktop-heading-sm" id="body-heading">Body</h2>
              </div>
              <div class="typo-table">
                <div
                  class="typo-table__head font-mono mud-desktop-body-md-500 mud-text-gray-400"
                >
                  <span>text-style</span><span>token-name</span
                  ><span>value</span><span>text-preview</span>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Body Large</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-body-lg</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">18px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">400</span>; line-height:
                    <span class="v">150%</span>; letter-spacing:
                    <span class="v">0%</span>;
                  </p>
                  <p class="mud-desktop-body-lg">
                    Pe-un picior de plai, pe-o gură de rai, iată vin în cale, se
                    cobor la vale trei turme de miei, cu trei ciobănei...
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Body Large 500</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">
                      --mud-desktop-body-lg-500
                    </button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">18px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">500</span>; line-height:
                    <span class="v">150%</span>; letter-spacing:
                    <span class="v">0%</span>;
                  </p>
                  <p class="mud-desktop-body-lg-500">
                    Pe-un picior de plai, pe-o gură de rai, iată vin în cale, se
                    cobor la vale trei turme de miei, cu trei ciobănei...
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Body XL</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-body-xl</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">20px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">400</span>; line-height:
                    <span class="v">32px</span>; letter-spacing:
                    <span class="v">-0.4px</span>;
                  </p>
                  <p class="mud-desktop-body-xl">
                    Pe-un picior de plai, pe-o gură de rai, iată vin în cale, se
                    cobor la vale trei turme de miei, cu trei ciobănei...
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Body Default</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-body-md</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">16px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">400</span>; line-height:
                    <span class="v">140%</span>; letter-spacing:
                    <span class="v">0%</span>;
                  </p>
                  <p class="mud-desktop-body-default">
                    Pe-un picior de plai, pe-o gură de rai, iată vin în cale, se
                    cobor la vale trei turme de miei, cu trei ciobănei. Unu-i
                    moldovan...
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Body Default 500</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">
                      --mud-desktop-body-md-500
                    </button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">16px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">500</span>; line-height:
                    <span class="v">140%</span>; letter-spacing:
                    <span class="v">0%</span>;
                  </p>
                  <p class="mud-desktop-body-default-500">
                    Pe-un picior de plai, pe-o gură de rai, iată vin în cale, se
                    cobor la vale trei turme de miei, cu trei ciobănei. Unu-i
                    moldovan...
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Body Small</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-body-sm</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">14px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">400</span>; line-height:
                    <span class="v">140%</span>; letter-spacing:
                    <span class="v">0%</span>;
                  </p>
                  <p class="mud-desktop-body-sm">
                    Pe-un picior de plai, pe-o gură de rai, iată vin în cale, se
                    cobor la vale trei turme de miei, cu trei ciobănei. Unu-i
                    moldovan, unu-i ungurean...
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Body Small 500</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">
                      --mud-desktop-body-sm-500
                    </button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">14px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">500</span>; line-height:
                    <span class="v">140%</span>; letter-spacing:
                    <span class="v">0%</span>;
                  </p>
                  <p class="mud-desktop-body-sm-500">
                    Pe-un picior de plai, pe-o gură de rai, iată vin în cale, se
                    cobor la vale trei turme de miei, cu trei ciobănei. Unu-i
                    moldovan, unu-i ungurean...
                  </p>
                </div>
              </div>
            </section>

            <section aria-labelledby="documentation-heading">
              <div class="mud-doc-section-head">
                <h2 class="mud-desktop-heading-sm" id="documentation-heading">
                  Documentation
                </h2>
              </div>
              <div class="typo-table">
                <div
                  class="typo-table__head font-mono mud-desktop-body-md-500 mud-text-gray-400"
                >
                  <span>text-style</span><span>token-name</span
                  ><span>value</span><span>text-preview</span>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Documentation Extra Large</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">
                      mud-documentation-mono-xl
                    </button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">JetBrains Mono</span>;
                    font-size: <span class="v">20px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">500</span>; line-height:
                    <span class="v">28px</span>; letter-spacing:
                    <span class="v">-0.2px</span>; color:
                    <span class="v"
                      >--mud-color-background-base-inverse-default</span
                    >;
                  </p>
                  <p class="mud-documentation-mono-xl">
                    --mud-color-background-base-inverse-default
                  </p>
                </div>
              </div>
            </section>

            <section aria-labelledby="caption-heading">
              <div class="mud-doc-section-head">
                <h2 class="mud-desktop-heading-sm" id="caption-heading">
                  Caption
                </h2>
              </div>
              <div class="typo-table">
                <div
                  class="typo-table__head font-mono mud-desktop-body-md-500 mud-text-gray-400"
                >
                  <span>text-style</span><span>token-name</span
                  ><span>value</span><span>text-preview</span>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Caption Medium</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-caption-md</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">12px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">400</span>; line-height:
                    <span class="v">140%</span>; letter-spacing:
                    <span class="v">0%</span>;
                  </p>
                  <p class="mud-desktop-caption-md">
                    Pe-un picior de plai, pe-o gură de rai, iată vin în cale, se
                    cobor la vale trei turme de miei, cu trei ciobănei. Unu-i
                    moldovan, unu-i ungurean și unu-i vrâncean. Iar cel u...
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Caption Medium 500</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">
                      --mud-desktop-caption-md-500
                    </button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">12px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">500</span>; line-height:
                    <span class="v">140%</span>; letter-spacing:
                    <span class="v">0%</span>;
                  </p>
                  <p class="mud-desktop-caption-md-500">
                    Pe-un picior de plai, pe-o gură de rai, iată vin în cale, se
                    cobor la vale trei turme de miei, cu trei ciobănei. Unu-i
                    moldovan, unu-i ungurean și unu-i vrâncean. Iar cel u...
                  </p>
                </div>

                <div class="typo-table__row">
                  <span
                    class="font-mono mud-desktop-body-md-500 mud-text-gray-700"
                    >Caption Small</span
                  >
                  <div class="mud-flex">
                    <button class="token-name">--mud-desktop-caption-sm</button>
                  </div>
                  <p class="font-mono mud-desktop-body-sm mud-text-gray-700">
                    font-family: <span class="v">Onest</span>; font-size:
                    <span class="v">10px</span>; font-style:
                    <span class="v">normal</span>; font-weight:
                    <span class="v">400</span>; line-height:
                    <span class="v">140%</span>; letter-spacing:
                    <span class="v">0%</span>;
                  </p>
                  <p class="mud-desktop-caption-sm">
                    Pe-un picior de plai, pe-o gură de rai, iată vin în cale, se
                    cobor la vale trei turme de miei, cu trei ciobănei. Unu-i
                    moldovan, unu-i ungurean și unu-i vrâncean. Iar cel u...
                  </p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <div id="site-footer"></div>
  </body>
</html>
