<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spacing Preview Widths</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
         <h1>Width Preview</h1>
        <p class="text-gray-400">
          Width tokens are predefined values used to maintain consistent widths between elements, particularly within auto layout settings. 
          They provide a standardised system for widths, ensuring uniformity and harmony across different components within a design project.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Widths Utilities</h2> 
        </div>
        <table class="spacing-table">
          <thead>
            <tr>
              <th>Token Name</th>
              <th>Value, %</th>
              <th>Class Example</th>
              <th>Width Preview</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <code class="bg-gray-200 radius-8 py-4 px-6">--width-25</code>
              </td>
              <td>25%</td>
              <td><code>.w-25</code></td>
              <td><div class="preview w-25 py-6 bg-green-600 my-16 radius-8"></div></td>
            </tr>
            <tr>
              <td>
                <code class="bg-gray-200 radius-8 py-2 px-6">--width-33</code>
              </td>
              <td>33.3333%</td>
              <td><code>.w-33</code></td>
              <td><div class="preview w-33 py-6 bg-green-600 my-16 radius-8"></div></td>
            </tr>
            <tr>
              <td>
                <code class="bg-gray-200 radius-8 py-2 px-6">--width-50</code>
              </td>
              <td>50%</td>
              <td><code>.w-50</code></td>
              <td><div class="preview w-50 py-6 bg-green-600 my-16 radius-8"></div></td>
            </tr>
            <tr>
              <td>
                <code class="bg-gray-200 radius-8 py-2 px-6">--width-66</code>
              </td>
              <td>66.6667%</td>
              <td><code>.w-66</code></td>
              <td><div class="preview w-66 py-6 bg-green-600 my-16 radius-8"></div></td>
            </tr>
            <tr>
              <td>
                <code class="bg-gray-200 radius-8 py-2 px-6">--width-75</code>
              </td>
              <td>75%</td>
              <td><code>.w-75</code></td>
              <td><div class="preview w-75 py-6 bg-green-600 my-16 radius-8"></div></td>
            </tr>
            <tr>
              <td>
                <code class="bg-gray-200 radius-8 py-2 px-6">--width-100</code>
              </td>
              <td>100%</td>
              <td><code>.w-100</code></td>
              <td><div class="preview w-100 py-6 bg-green-600 my-16 radius-8"></div></td>
            </tr>
          </tbody>
        </table>
  
      </div>
    </div>
  </div>

</body>
</html>
