<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spacing Preview Widths</title>
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/main.js" defer></script>
</head>
<body>
  <div class="container py-56">
    <div class="row">
      <div class="col-sm-7">
         <h1>Width Preview</h1>
        <p class="text-gray-400">
          Width tokens are predefined values used to maintain consistent widths between elements, particularly within auto layout settings. 
          They provide a standardised system for widths, ensuring uniformity and harmony across different components within a design project.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12"> 
        <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
          <h2>Widths Utilities</h2> 
        </div>   
      </div>
    </div>  

    <div class="row fw-semibold bg-gray-100 mb-20 py-12">
      <div class="col-3">Token Name</div>
      <div class="col-2">Value, %</div>
      <div class="col-2">Class Example</div>
      <div class="col-5">Width Preview</div>
    </div>
    
    <div class="row align-items-center py-12">
      <div class="col-3">
        <code class="bg-gray-200 token-name radius-8 py-4 px-6">--width-25</code>
      </div>
      <div class="col-2">25%</div>
      <div class="col-2">
        <code class="token-name bg-white">.w-25</code>
      </div>
      <div class="col-5">
        <div class="bg-green-100">
          <div class="preview w-25 py-6 bg-green-600 my-16"></div>
        </div>
      </div>
    </div>

    
    <div class="row align-items-center py-12">
      <div class="col-3">
        <code class="bg-gray-200 token-name radius-8 py-2 px-6">--width-33</code>
      </div>
      <div class="col-2">33.3333%</div>
      <div class="col-2">
        <code class="token-name bg-white">.w-33</code>
      </div>
      <div class="col-5">
        <div class="bg-green-100">
          <div class="preview w-33 py-6 bg-green-600 my-16"></div>
        </div> 
      </div>
    </div>

     
    <div class="row align-items-center py-12">
      <div class="col-3">
        <code class="bg-gray-200 token-name radius-8 py-2 px-6">--width-50</code>
      </div>
      <div class="col-2">50%</div>
      <div class="col-2">
        <code class="token-name bg-white">.w-50</code>
      </div>
      <div class="col-5">
        <div class="bg-green-100">
          <div class="preview w-50 py-6 bg-green-600 my-16"></div>
        </div> 
      </div>
    </div>

 
    <div class="row align-items-center py-12">
      <div class="col-3">
        <code class="bg-gray-200 token-name radius-8 py-2 px-6">--width-66</code>
      </div>
      <div class="col-2">66.6667%</div>
      <div class="col-2">
        <code class="token-name bg-white">.w-66</code>
      </div>
      <div class="col-5">
        <div class="bg-green-100">
          <div class="preview w-66 py-6 bg-green-600 my-16"></div>
        </div> 
      </div>
    </div>

 
    <div class="row align-items-center py-12">
      <div class="col-3">
        <code class="bg-gray-200 token-name radius-8 py-2 px-6">--width-75</code>
      </div>
      <div class="col-2">75%</div>
      <div class="col-2">
        <code class="token-name bg-white">.w-75</code>
      </div>
      <div class="col-5">
        <div class="bg-green-100">
          <div class="preview w-75 py-6 bg-green-600 my-16"></div>
        </div> 
      </div>
    </div>

  
    <div class="row align-items-center py-12">
      <div class="col-3">
        <code class="bg-gray-200 token-name radius-8 py-2 px-6">--width-100</code>
      </div>
      <div class="col-2">100%</div>
      <div class="col-2">
        <code class="token-name bg-white">.w-100</code>
      </div>
      <div class="col-5">
        <div class="bg-green-100">
          <div class="preview w-100 py-6 bg-green-600 my-16"></div>
        </div> 
      </div>
    </div> 
  </div>


</body>
</html>
