<footer class="footer mt-32" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer__container">
          <!-- =====================
              TOP
          ====================== -->
          <div class="footer__top footer__top--compact">
            <!-- Brand -->
            <div class="footer__brand">
              <a href="index.html" class="footer__logo" aria-label="Mergi la pagina principală">
                <div class="footer__brand--logo">
                  <img src="assets/logos/age.svg" alt="eGov logo">
                </div>
              </a>
            </div>

            <!-- Navigation -->
            <nav class="footer__nav" aria-label="Footer navigation">
              <div class="footer__nav-col">
                <ul class="footer__nav--list">
                  <li class="footer__nav--item">
                    <a href="https://egov.md" class="footer__nav--link" target="_blank" rel="noopener">Moldova
                      eGovernance Agency</a>
                  </li>
                  <li class="footer__nav--item">
                    <a href="https://mud.egov.md" class="footer__nav--link" target="_blank" rel="noopener">Unified
                      Design System</a>
                  </li>
                  <li class="footer__nav--item">
                    <a href="https://egov-moldova.github.io/egov4dev/" class="footer__nav--link" target="_blank"
                      rel="noopener">Integration guides</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>

          <hr class="separator separator--horizontal separator--thin separator--subtle">

          <!-- =====================
              MIDDLE
          ====================== -->
          <div class="footer__middle">
            <div class="footer__logos">
              <a href="https://egov.md" target="_blank" rel="noopener">
                <img src="assets/logos/age.svg" alt="Agenția de Guvernare Electronică" />
              </a>
              <div class="d-flex align-items-center gap-12 ml-auto">
                <a href="#" aria-label="Guvernul Republicii Moldova">
                  <img src="assets/logos/gov.svg" alt="Guvernul Republicii Moldova">
                </a>
                <a href="#" aria-label="100 percent digital">
                  <img src="assets/logos/Logo100Percent_Black.svg" alt="100 percent digital" style="max-height: 48px;">
                </a>
              </div>
            </div>
            <hr class="separator separator--horizontal separator--thin separator--subtle d-sm-none">
            <ul class="footer__social">
              <li class="footer__social--item">
                <a href="#" class="footer__social--link" aria-label="Facebook">
                  <span class="d-inline-flex">
                    <svg class="icon large" aria-hidden="true">
                      <use href="assets/icons/sprite.svg#icon-facebook-filled"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="footer__social--item">
                <a href="#" class="footer__social--link" aria-label="Instagram">
                  <span class="d-inline-flex">
                    <svg class="icon large" aria-hidden="true">
                      <use href="assets/icons/sprite.svg#icon-instagram-filled"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="footer__social--item">
                <a href="#" class="footer__social--link" aria-label="YouTube">
                  <span class="d-inline-flex">
                    <svg class="icon large" aria-hidden="true">
                      <use href="assets/icons/sprite.svg#icon-youtube-filled"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="footer__social--item">
                <a href="#" class="footer__social--link" aria-label="LinkedIn">
                  <span class="d-inline-flex">
                    <svg class="icon large" aria-hidden="true">
                      <use href="assets/icons/sprite.svg#icon-linkedin-filled"></use>
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__container footer__bottom-inner py-0">
      <div class="container">
        <div class="row row-gap-20">
          <div class="col-12 col-md-6">
            <div>© 2026 Agenția de Guvernare Electronică. Toate drepturile rezervate.</div>
          </div>
          <div class="col-12 col-md-6">
            <ul class="footer__legal">
              <li>
                Nu ezitați să contribuiți <a href="https://github.com/egov-moldova/design-system/tree/main"
                  target="_blank" rel="noopener">aici</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>