<style>
  .footer__container {
  padding-bottom: var(--spacing-32);
  }
  
  .footer__middle{
    padding-top: var(--spacing-0);
  }
</style>
<footer class="footer mt-32" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer__container">
          <div class="footer__middle">
            <div class="footer__logos">
              <img src="assets/logos/gov.svg" alt="Guvernul Republicii Moldova">
              <img src="assets/logos/Logo100Percent_Black.svg" alt="100 percent digital">
            </div>
            <hr class="separator separator--horizontal separator--thin separator--subtle d-sm-none">
            <ul class="footer__social">
              <li class="footer__social--item">
                <a href="#" class="footer__social--link" aria-label="Facebook">
                  <span class="d-inline-flex">
                    <svg class="icon large" aria-hidden="true">
                      <use href="assets/icons/sprite.svg#icon-facebook-filled"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="footer__social--item">
                <a href="#" class="footer__social--link" aria-label="Instagram">
                  <span class="d-inline-flex">
                    <svg class="icon large" aria-hidden="true">
                      <use href="assets/icons/sprite.svg#icon-instagram-filled"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="footer__social--item">
                <a href="#" class="footer__social--link" aria-label="YouTube">
                  <span class="d-inline-flex">
                    <svg class="icon large" aria-hidden="true">
                      <use href="assets/icons/sprite.svg#icon-youtube-filled"></use>
                    </svg>
                  </span>
                </a>
              </li>
              <li class="footer__social--item">
                <a href="#" class="footer__social--link" aria-label="LinkedIn">
                  <span class="d-inline-flex">
                    <svg class="icon large" aria-hidden="true">
                      <use href="assets/icons/sprite.svg#icon-linkedin-filled"></use>
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__container footer__bottom-inner py-0">
      <div class="container">
        <div class="row row-gap-20">
          <div class="col-12 col-md-6">
            <div>© 2026 Agenția de Guvernare Electronică. Toate drepturile rezervate.</div>
          </div>
          <div class="col-12 col-md-6">
            <ul class="footer__legal">
              <li>
                Nu ezitați să contribuiți <a href="https://github.com/egov-moldova/design-system/tree/main"
                  target="_blank" rel="noopener">aici</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>