<!-- Pre-header -->
<div class="pre-header">
  <div class="pre-header__content">
    <div class="pre-header__logo">
      <a href="#" target="_blank">
        <img src="assets/logos/government-logo.png" alt="Logo Gov" />
        <span>Guvernul Republicii Moldova</span>
      </a>
    </div>
    <!-- <div class="language-switcher">
      <ul>
        <li>
          <a class="active" href="#" title="Ro">Ro</a>
        </li>
        <li>
          <a href="#" title="Ru">Ru</a>
        </li>
        <li>
          <a href="#" title="En">En</a>
        </li>
      </ul>
    </div> -->
  </div>
</div>

<!-- Header Desktop -->
<header class="header d-none d-md-flex">
  <div class="header__wrapper">
    <a href="index.html" class="header__brand" aria-label="Mergi la pagina principală">
      <div class="header__brand--logo">
        <img src="assets/logos/age.svg" alt="eGov logo">
      </div>
    </a>

    <nav class="mainNav" role="navigation" aria-label="Meniu principal">
      <button
        class="mainNav__toggle"
        aria-expanded="false"
        aria-controls="mainNav__panel"
      >
        <span class="mainNav__toggleText">Meniu</span>
        <span class="mainNav__toggleIcon nav__icon d-inline-flex" aria-hidden="true">
          <svg class="icon small" aria-hidden="true">
            <use href="assets/icons/sprite.svg#icon-plus-large"></use>
          </svg>
        </span>
      </button>
    </nav>

    <nav class="nav" role="navigation" aria-label="Meniu principal">
      <div class="nav__item nav__item--has-dropdown">
        <button class="nav__link btn" aria-expanded="false" aria-haspopup="true">
          Fundamentals
          <span class="nav__icon p-2 d-inline-flex" aria-hidden="true">
            <svg class="icon small">
              <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use>
            </svg>
          </span>
        </button>

        <div class="nav__menu full" hidden>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="nav__menu--heading" role="heading">Basic elements</div>
                <hr class="separator separator--horizontal separator--thin separator--subtle">
                <ul class="nav__submenu" role="none">
                  <li role="none"><a href="radius-preview.html" class="nav__submenu-item">Border Radius</a></li>
                  <li role="none"><a href="border-width-preview.html" class="nav__submenu-item">Border Width</a></li>
                  <li role="none"><a href="displays.html" class="nav__submenu-item">Display Utilities</a></li>
                  <li role="none"><a href="efects.html" class="nav__submenu-item">Effects</a></li>
                  <li role="none"><a href="icons.html" class="nav__submenu-item">Icons</a></li>
                  <li role="none"><a href="SCSSDesignTokens.html" class="nav__submenu-item">SCSS Design Tokens</a></li>
                  <li role="none"><a href="typography.html" class="nav__submenu-item">Typography</a></li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="nav__menu--heading" role="heading">Layout</div>
                <hr class="separator separator--horizontal separator--thin separator--subtle">
                <ul class="nav__submenu" role="none">
                  <li role="none"><a href="grid-preview.html" class="nav__submenu-item">Grid Preview</a></li>
                  <li role="none"><a href="grid-system.html" class="nav__submenu-item">Grid System</a></li>
                  <li role="none"><a href="spacings-margins.html" class="nav__submenu-item">Margins</a></li>
                  <li role="none"><a href="spacings-paddings.html" class="nav__submenu-item">Paddings</a></li>
                  <li role="none"><a href="spacings.html" class="nav__submenu-item">Spacings</a></li>
                  <li role="none"><a href="width.html" class="nav__submenu-item">Width Utilities</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav__item nav__item--has-dropdown">
        <button class="nav__link btn" aria-expanded="false" aria-haspopup="true">
          Components
          <span class="nav__icon p-2 d-inline-flex" aria-hidden="true">
            <svg class="icon small">
              <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use>
            </svg>
          </span>
        </button>

        <div class="nav__menu full" hidden>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="nav__menu--heading" role="heading">Navigation</div>
                <hr class="separator separator--horizontal separator--thin separator--subtle">
                <ul class="nav__submenu" role="none">
                  <li role="none"><a href="breadcrumbs.html" class="nav__submenu-item">Breadcrumbs</a></li>
                  <li role="none"><a href="tabs.html" class="nav__submenu-item">Tabs</a></li>
                  <li role="none"><a href="pagination.html" class="nav__submenu-item">Pagination</a></li>
                  <li role="none"><a href="segmented-controls.html" class="nav__submenu-item">Segmented Controls</a></li>
                  <li role="none"><a href="progress-tracker.html" class="nav__submenu-item">Progress Tracker</a></li>
                </ul>
                <div class="nav__menu--heading" role="heading" style="margin-top: 10px">Custom components</div>
                <hr class="separator separator--horizontal separator--thin separator--subtle">
                <ul class="nav__submenu" role="none">
                  <li role="none"><a href="modals.html" class="nav__submenu-item">Modals</a></li>
                  <li role="none"><a href="cookie-banner.html" class="nav__submenu-item">Cookie Banner</a></li>
                  <li role="none"><a href="header.html" class="nav__submenu-item">Header</a></li>
                  <li role="none"><a href="header-with-avatar.html" class="nav__submenu-item">Header with Avatar</a></li>
                  <li role="none"><a href="footer.html" class="nav__submenu-item">Footer</a></li>
                  <li role="none"><a href="table.html" class="nav__submenu-item">Table</a></li>
                </ul>
              </div>
                              <div class="col-12 col-md-6 col-lg-4">
                  <div class="nav__menu--heading" role="heading">Form Elements</div>
                  <hr class="separator separator--horizontal separator--thin separator--subtle">
                  <ul class="nav__submenu" role="none">
                    <li role="none"><a href="link.html" class="nav__submenu-item">Link</a></li>
                    <li role="none"><a href="buttons.html" class="nav__submenu-item">Buttons</a></li>
                    <li role="none"><a href="input-preview.html" class="nav__submenu-item">Input Preview</a></li>
                    <li role="none"><a href="search-input-preview.html" class="nav__submenu-item">Search Input</a></li>
                    <li role="none"><a href="input-date.html" class="nav__submenu-item">Input Date</a></li>
                    <li role="none"><a href="input-date-picker.html" class="nav__submenu-item">Input Date Picker</a></li>
                    <li role="none"><a href="input-phone-number.html" class="nav__submenu-item">Input Phone Number</a></li>
                    <li role="none"><a href="input-file.html" class="nav__submenu-item">Input File</a></li>
                    <li role="none"><a href="textarea.html" class="nav__submenu-item">Textarea</a></li>
                    <li role="none"><a href="checkbox.html" class="nav__submenu-item">Checkbox</a></li>
                    <li role="none"><a href="radio-buttons.html" class="nav__submenu-item">Radio Buttons</a></li>
                    <li role="none"><a href="switch.html" class="nav__submenu-item">Switch</a></li>
                    <li role="none"><a href="dropdown.html" class="nav__submenu-item">Dropdown</a></li>
                  </ul>
                </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="nav__menu--heading" role="heading">Messages &amp; Alerts</div>
                <hr class="separator separator--horizontal separator--thin separator--subtle">
                <ul class="nav__submenu" role="none">
                  <li role="none"><a href="messages.html" class="nav__submenu-item">Messages</a></li>
                  <li role="none"><a href="message-alerts.html" class="nav__submenu-item">Message Alerts</a></li>
                  <li role="none"><a href="messages-information.html" class="nav__submenu-item">Messages Information</a></li>
                  <li role="none"><a href="messages-inline.html" class="nav__submenu-item">Messages Inline</a></li>
                  <li role="none"><a href="messaget-toast.html" class="nav__submenu-item">Message Toast</a></li>
                </ul>

                <div class="nav__menu--heading" role="heading" style="margin-top: 10px">UI Components</div>
                <hr class="separator separator--horizontal separator--thin separator--subtle">
                <ul class="nav__submenu" role="none">
                  <li role="none"><a href="avatar.html" class="nav__submenu-item">Avatar</a></li>
                  <li role="none"><a href="badge.html" class="nav__submenu-item">Badge</a></li>
                  <li role="none"><a href="chip.html" class="nav__submenu-item">Chip</a></li>
                  <li role="none"><a href="tags.html" class="nav__submenu-item">Tags</a></li>
                  <li role="none"><a href="icons.html" class="nav__submenu-item">Icons</a></li>
                  <li role="none"><a href="spinner.html" class="nav__submenu-item">Spinner</a></li>
                  <li role="none"><a href="tooltip.html" class="nav__submenu-item">Tooltip</a></li>
                  <li role="none"><a href="accordion.html" class="nav__submenu-item">Accordion</a></li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="header__actions">
      <div class="header__search">
        <button class="header__toggle" aria-label="Meniu" data-open="#search-modal">
          <span class="d-inline-flex">
            <svg class="icon large" aria-hidden="true">
              <use href="assets/icons/sprite.svg#icon-search"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>

  <!-- Main Navigation Panel (tablet) -->
  <div class="mainNav__panel" id="mainNav__panel" hidden>
    <div class="mainNav__content">
      <section class="mainNav__section">
        <ul class="mainNav__list">
          <li class="mainNav__list--item">
            <button
              class="mainNav__list--button"
              data-submenu="submenu-fundamentals"
              aria-expanded="false"
            >
              <span>Fundamentals</span>
              <span class="d-inline-flex">
                <svg class="icon medium" aria-hidden="true">
                  <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use>
                </svg>
              </span>
            </button>
          </li>
          <li class="mainNav__list--item">
            <button
              class="mainNav__list--button"
              data-submenu="submenu-components"
              aria-expanded="false"
            >
              <span>Components</span>
              <span class="d-inline-flex">
                <svg class="icon medium" aria-hidden="true">
                  <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use>
                </svg>
              </span>
            </button>
          </li>
        </ul>
      </section>
    </div>

    <div class="mainNav__submenu" id="submenu-fundamentals" hidden>
      <button class="mainNav__back btn btn-neutral btn-rounded btn-md" data-back>
        <svg class="icon small">
          <use href="assets/icons/sprite.svg#icon-chevron-left"></use>
        </svg>
        Înapoi
      </button>
      <ul class="mainNav__list">
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="radius-preview.html">Border Radius</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="border-width-preview.html">Border Width</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="displays.html">Display Utilities</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="efects.html">Effects</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="grid-preview.html">Grid Preview</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="grid-system.html">Grid System</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="icons.html">Icons</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="spacings-margins.html">Margins</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="spacings-paddings.html">Paddings</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="SCSSDesignTokens.html">SCSS Design Tokens</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="spacings.html">Spacings</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="typography.html">Typography</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="width.html">Width Utilities</a></li>
      </ul>
    </div>

    <div class="mainNav__submenu" id="submenu-components" hidden>
      <button class="mainNav__back btn btn-neutral btn-rounded btn-md" data-back>
        <svg class="icon small">
          <use href="assets/icons/sprite.svg#icon-chevron-left"></use>
        </svg>
        Înapoi
      </button>
            <ul class="mainNav__list">
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="link.html">Link</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="buttons.html">Buttons</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="input-preview.html">Input Preview</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="search-input-preview.html">Search Input</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="input-date.html">Input Date</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="input-date-picker.html">Input Date Picker</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="input-phone-number.html">Input Phone Number</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="input-file.html">Input File</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="textarea.html">Textarea</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="checkbox.html">Checkbox</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="radio-buttons.html">Radio Buttons</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="switch.html">Switch</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="dropdown.html">Dropdown</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="avatar.html">Avatar</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="badge.html">Badge</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="chip.html">Chip</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="tags.html">Tags</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="icons.html">Icons</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="spinner.html">Spinner</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="tooltip.html">Tooltip</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="accordion.html">Accordion</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="breadcrumbs.html">Breadcrumbs</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="tabs.html">Tabs</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="pagination.html">Pagination</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="segmented-controls.html">Segmented Controls</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="progress-tracker.html">Progress Tracker</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="header.html">Header</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="header-with-avatar.html">Header with Avatar</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="footer.html">Footer</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="messages.html">Messages</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="message-alerts.html">Message Alerts</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="messages-information.html">Messages Information</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="messages-inline.html">Messages Inline</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="messaget-toast.html">Message Toast</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="modals.html">Modals</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="cookie-banner.html">Cookie Banner</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="table.html">Table</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- Header Mobile -->
<header class="header header__mobile d-flex d-md-none">
  <div class="header__wrapper">
    <a href="index.html" class="header__brand" aria-label="Mergi la pagina principală">
      <div class="header__brand--logo">
        <img src="assets/logos/age.svg" alt="eGov logo">
      </div>
    </a>

    <div class="header__actions">
      <div class="header__search">
        <button class="header__toggle" aria-label="Meniu" data-open="#search-modal-mobile">
          <span class="d-inline-flex">
            <svg class="icon large" aria-hidden="true">
              <use href="assets/icons/sprite.svg#icon-search"></use>
            </svg>
          </span>
        </button>
      </div>
      <button class="mainNav__toggle mobile btn btn-menu btn-sm" aria-expanded="false" aria-controls="mainNav__panel">
        <span class="sr-only">Meniu</span>
        <span class="d-inline-flex">
          <svg class="icon large" aria-hidden="true">
            <use href="assets/icons/sprite.svg#icon-menu"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>

  <!-- Main Navigation Panel -->
  <div class="mainNav__panel" id="mainNav__panel" hidden>
    <div class="mainNav__content">
      <section class="mainNav__section">
        <ul class="mainNav__list">
          <li class="mainNav__list--item">
            <button
              class="mainNav__list--button"
              data-submenu="submenu-fundamentals"
              aria-expanded="false"
            >
              <span>Fundamentals</span>
              <span class="d-inline-flex">
                <svg class="icon medium" aria-hidden="true">
                  <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use>
                </svg>
              </span>
            </button>
          </li>
          <li class="mainNav__list--item">
            <button
              class="mainNav__list--button"
              data-submenu="submenu-components"
              aria-expanded="false"
            >
              <span>Components</span>
              <span class="d-inline-flex">
                <svg class="icon medium" aria-hidden="true">
                  <use href="assets/icons/sprite.svg#icon-chevron-bottom"></use>
                </svg>
              </span>
            </button>
          </li>
        </ul>
      </section>
    </div>

    <div class="mainNav__submenu" id="submenu-fundamentals" hidden>
      <button class="mainNav__back btn btn-neutral btn-rounded btn-md" data-back>
        <svg class="icon small">
          <use href="assets/icons/sprite.svg#icon-chevron-left"></use>
        </svg>
        Înapoi
      </button>
      <ul class="mainNav__list">
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="radius-preview.html">Border Radius</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="border-width-preview.html">Border Width</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="displays.html">Display Utilities</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="efects.html">Effects</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="grid-preview.html">Grid Preview</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="grid-system.html">Grid System</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="icons.html">Icons</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="spacings-margins.html">Margins</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="spacings-paddings.html">Paddings</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="SCSSDesignTokens.html">SCSS Design Tokens</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="spacings.html">Spacings</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="typography.html">Typography</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="width.html">Width Utilities</a></li>
      </ul>
    </div>

    <div class="mainNav__submenu" id="submenu-components" hidden>
      <button class="mainNav__back btn btn-neutral btn-rounded btn-md" data-back>
        <svg class="icon small">
          <use href="assets/icons/sprite.svg#icon-chevron-left"></use>
        </svg>
        Înapoi
      </button>
            <ul class="mainNav__list">
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="link.html">Link</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="buttons.html">Buttons</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="input-preview.html">Input Preview</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="search-input-preview.html">Search Input</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="input-date.html">Input Date</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="input-date-picker.html">Input Date Picker</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="input-phone-number.html">Input Phone Number</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="input-file.html">Input File</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="textarea.html">Textarea</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="checkbox.html">Checkbox</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="radio-buttons.html">Radio Buttons</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="switch.html">Switch</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="dropdown.html">Dropdown</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="avatar.html">Avatar</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="badge.html">Badge</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="chip.html">Chip</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="tags.html">Tags</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="icons.html">Icons</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="spinner.html">Spinner</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="tooltip.html">Tooltip</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="accordion.html">Accordion</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="breadcrumbs.html">Breadcrumbs</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="tabs.html">Tabs</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="pagination.html">Pagination</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="segmented-controls.html">Segmented Controls</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="progress-tracker.html">Progress Tracker</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="header.html">Header</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="header-with-avatar.html">Header with Avatar</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="footer.html">Footer</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="messages.html">Messages</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="message-alerts.html">Message Alerts</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="messages-information.html">Messages Information</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="messages-inline.html">Messages Inline</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="messaget-toast.html">Message Toast</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="modals.html">Modals</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="cookie-banner.html">Cookie Banner</a></li>
        <li class="mainNav__list--item"><a class="mainNav__list--link" href="table.html">Table</a></li>
      </ul>
    </div>
  </div>
</header>

