@use 'sass:math';
@use 'sass:map' as map;
@use 'abstracts/variables' as vars;
@use 'abstracts/functions';
@use 'abstracts/tokens';

// ============ Colors & Themes 
@use 'abstracts/colors';
@use 'themes/light';
@use 'themes/dark';

// ============= Mixins (Grid, Media, Layout etc.) 
@use 'abstracts/mixins/media' as media;
@use 'abstracts/mixins/make-col' as make-col;
@use 'abstracts/mixins/make-col-offset' as make-col-offset;
@use 'abstracts/mixins/make-row' as make-row;
@use 'abstracts/mixins/make-container' as make-container;


// ============  Base Styles (Resets, Typography) 
@use 'abstracts/typography';
@use 'fonts/Onest';
@use 'base/typography' as *;


// ============ Components / Utilities 
@use 'base/backgrounds';
@use 'base/border-utilities';
@use 'base/border-colors';
@use 'base/text-colors';
@use 'base/spacing-utilities';
@use 'base/spacing-preview';
@use 'base/base';
@use 'base/drop-shadows';
@use 'base/buttons';
@use 'utilities' as *;
@use 'components/index';
@use 'components/forms' as *;
@use 'components/avatar' as *;

// =============  Grid Setup 
@use 'base/grid' as grid;
@use 'base/offsets';
@use 'base/orders';

// ========== Container 
@include make-container.make-container(vars.$container-max-widths, vars.$breakpoints);

// Row 
.row {
  @include make-row.make-row(map.get(vars.$gutters, md));
}

// Responsive Cols
@include grid.make-grid-columns(12, map.get(vars.$gutters, md), vars.$breakpoints);
