@use 'sass:map';

$JetBrainsMono-fonts: (
  Medium: (file: JetBrainsMono-Medium, weight: 500),
);

@each $name, $props in $JetBrainsMono-fonts {
  @font-face {
    font-family: 'JetBrainsMono';
    src: url("../assets/fonts/JetBrainsMono-2.304/fonts/webfonts/#{map.get($props, file)}.woff2") format("woff2"),
      url("../assets/fonts/JetBrainsMono-2.304/fonts/ttf/#{map.get($props, file)}.ttf") format("truetype");
    font-weight: map.get($props, weight);
    font-style: normal;
    font-display: swap;
  }
}
