:host {
  display: inline-block;
}

.avatar-group {
  display: flex;
  align-items: center;
  padding-right: var(--avatar-group-padding-right, 0);
}

.avatar-group__overflow {
  position: relative;
  z-index: var(--avatar-overflow-z-index, 1);
}
