/*
------------------------------------------------------------------------------------------------------------------------
Pagination CSS
------------------------------------------------------------------------------------------------------------------------
*/

:host {
  display: inline-block;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--pagination-gap);
}
