@use '../abstracts/variables' as vars;
@use 'sass:list';

// Culori normale
@each $color, $shades in vars.$color-palettes {
  @if list.length($shades) > 0 {
    @each $shade in $shades {
      .bg-#{$color}-#{$shade} {
        background-color: var(--#{$color}-#{$shade}) !important;
      }
    }
  } @else {
    .bg-#{$color} {
      background-color: var(--#{$color}) !important;
    }
  }
}

// Culori alpha
@each $color, $shades in vars.$alpha-palettes {
  @each $shade in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: var(--#{$color}-#{$shade}) !important;
    }
  }
}


.bg-transparent {
  background-color: transparent !important;
}