@use '../abstracts/variables' as vars;
@use 'sass:list';

// Border color — palete normale
@each $color, $shades in vars.$color-palettes {
  @if list.length($shades) > 0 {
    @each $shade in $shades {
      .border-#{$color}-#{$shade} {
        border-color: var(--#{$color}-#{$shade}) !important;
      }
    }
  } @else {
    .border-#{$color} {
      border-color: var(--#{$color}) !important;
    }
  }
}

// Border color — culori alpha
@each $color, $shades in vars.$alpha-palettes {
  @each $shade in $shades {
    .border-#{$color}-#{$shade} {
      border-color: var(--#{$color}-#{$shade}) !important;
    }
  }
}
