@use 'sass:map' as map;
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins/make-col' as make-col;
@use '../abstracts/mixins/make-row' as make-row;
@use '../abstracts/mixins/make-container' as make-container;
@use '../abstracts/mixins/media' as media;


$columns: vars.$grid-columns;
$gutter: map.get(vars.$gutters, md);


@include make-container.make-container(vars.$container-max-widths, vars.$breakpoints);


.row {
  @include make-row.make-row($gutter);
}


@function breakpoint-list($breakpoints) { 
  @return map.keys($breakpoints);
}


@mixin make-grid-columns($columns, $gutter, $breakpoints) {

   
  @for $i from 1 through $columns {
    .col-#{$i} {
      @include make-col.make-col($i, $columns, $gutter);
    }
  }
  .col-auto {
    @include make-col.make-col(auto, $columns, $gutter);
  }

   
  @each $bp in breakpoint-list($breakpoints) {
    @include media.media-breakpoint-up($bp, $breakpoints) {
      @for $i from 1 through $columns {
        .col-#{$bp}-#{$i} {
          @include make-col.make-col($i, $columns, $gutter);
        }
      }
      .col-#{$bp}-auto {
        @include make-col.make-col(auto, $columns, $gutter);
      }
    }
  }
}
@include make-grid-columns($columns, $gutter, vars.$breakpoints);
@include make-grid-columns($columns, 0, vars.$breakpoints);
@each $bp, $width in vars.$breakpoints {
  @include media.media-breakpoint-up($bp, vars.$breakpoints) {
    .g-#{$bp} {
      @include make-row.make-row(map.get(vars.$gutters, $bp));
    }
  }
}