@use '../abstracts/mixins/make-col-offset' as *;
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins/media' as *;

@mixin make-offset-classes($columns: 12) {
  @for $i from 0 through $columns {
    .offset-#{$i} {
      @include make-col-offset($i, $columns);
    }
  }

 
  .offset-auto {
    @include make-col-offset(auto, $columns);
  }
}

@mixin make-responsive-offsets($columns: 12, $breakpoints: vars.$breakpoints) {
 
  @include make-offset-classes($columns);

   
  @each $bp, $width in $breakpoints {
    @include media-breakpoint-up($bp, $breakpoints) {
      @for $i from 0 through $columns {
        .offset-#{$bp}-#{$i} {
          @include make-col-offset($i, $columns);
        }
      }

      .offset-#{$bp}-auto {
        @include make-col-offset(auto, $columns);
      }
    }
  }
}

 
@include make-responsive-offsets(12, vars.$breakpoints);
