.spacing-table {
    width: 100%;
    border-collapse: collapse;
  
    th,
    td {
      //border-bottom: 1px solid #ddd;
      text-align: left;
    }

    td:first-child code {
        background-color: #F6F6F6;
        border-radius: 8px;
        font-family: inherit;
    }
  }
  
  .preview-box {
    display: inline-flex;
    background: #f5f5f5;
    border-radius: var(--border-radius-8);
    width: 200px;
    min-height: 95px;
  }

  .preview-inner {
    background: rgba(255, 0, 128, 0.2);
    border: 1px dashed deeppink;
    width: 1.5rem;
    height: 1.5rem;
  }
  