@use './input' as *;

.search-input {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: var(--w-100, 100%);



  &.rectangular {
    border-radius: var(--radius-md, 8px);
  }

  &.circular {
    input {
      border-radius: var(--border-radius-full);
    }

    .btn-search {
      border-radius: var(--border-radius-full);
    }
  }



  &.large .input {
    height: var(--spacing-48);
  }

  &.medium {
    .input {
      height: var(--spacing-40);
      font-size: var(--text-body-sm-font-size);
    }

    .icon-search .icon {
      height: var(--spacing-20);
      width: var(--spacing-20);
    }

    .btn-search {
      padding: calc(var(--spacing-8) - 1px);

      .icon {
        width: var(--icon-size-small);
        height: var(--icon-size-small);
      }
    }
  }

  &.small .input {
    height: var(--spacing-32);
  }



  &:has(.icon-search) {
    .input {
      padding-left: var(--spacing-32);
    }
  }

  .input {
    @include input-style;
    padding-right: var(--spacing-56);  
    flex: 1;
  }



  &.disabled {
    .btn-search {
      cursor: not-allowed;
      opacity: 0.7;
      pointer-events: none;
    }
  }


  .icon-search {
    position: absolute;
    left: var(--spacing-8, 8px);
    display: flex;
    align-items: center;
    pointer-events: none;
  }


  .btn-group {
    position: absolute;
    right: var(--spacing-4);
    display: none;
    align-items: center;
    gap: var(--spacing-6);
  }

  &.has-value {
    .btn-group {
      display: flex;
    }
  }


  .spinner,
  .btn-icon.clear {
    display: none;
  }

  &.is-typing {
    .spinner {
      display: inline-flex;
    }
  }

  &.is-ready {
    .btn-icon.clear {
      display: inline-flex;
    }
  }


  &.loading {
    .spinner {
      display: inline-flex;
    }

    .btn-icon.clear {
      display: none;
    }
  }



  .btn-icon.clear {
    border: none;
    background-color: var(--gray-200, #f1f1f1);
    border-radius: var(--border-radius-full);
    height: var(--icon-height, 20px);
    width: var(--icon-width, 20px);
    padding: 0;
    cursor: pointer;
  }

  .btn-search {
    border-radius: var(--border-radius-6);
    padding: calc(var(--spacing-12) - 3px);

    svg {
      transform: rotate(180deg);
    }
  }
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
